.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-label {
    font-family: var(--title-font);
    text-align: center;
    @include fonts(400, 18px, 21px, 0.04em, uppercase);
    color: var(--pink-cl);
  }

.section-title {
    font-family: var(--title-font);
    text-align: center;
    @include fonts(400, 34px, 39px, 0.04em, uppercase);
    color: var(--accent-cl);
  }
