
// breakpoints
// 1. 320px
// 2. 768px
// 3. 1200px

.container {
    padding-left: 20px;
    padding-right: 20px;
    
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato;
   
 // mobile sreen from 320px
 @include mq(mobile) {
      width: 320px;
    }

  // tablet sreen from 768px
  @include mq(tablet) {
    width: 768px;
  }

  // desktop sreen from 1200px
  @include mq(desktop) {
    width: 1200px;
  }
}


