@charset "UTF-8";
/*#region root*/
:root {
  /* fonts */
  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;
  /* text colors*/
  --accent-cl: #D41443;
  --pink-cl: #FFA5BA;
  --white-cl: #FFFFFF;
  --black-cl: #000000;
  --about-cl: #907E82;
  /* background colors */
  --pink-bg-cl:#FFB8CA;
  --light-pink-bg-cl: #FFF5F6;
  --btn-accent-cl:#D41342;
  /*  grid items*/
  --items: 1;
  --indent: 30px;
  /* animation */
  --transition-duration: 400ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion*/
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*#region base*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-cl);
  color: var(--black-cl);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*#endregion*/
.no-scroll {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Сетка для коллекции*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* Стили кнопки */
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.04em;
  min-width: 167px;
  padding: 10px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.btn--mode-light {
  color: var(--btn-accent-cl);
  background-color: var(--white-cl);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.btn--mode-light:hover, .btn--mode-light:focus {
  background-color: #ECEBEB;
}

.btn--mode-dark {
  color: var(--white-cl);
  background-color: var(--btn-accent-cl);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.btn--mode-dark:hover, .btn--mode-dark:focus {
  background-color: var(--btn-accent-cl);
}

/*#region 1 header*/
/*#endregion*/
.hero {
  background-color: var(--pink-bg-cl);
  overflow: hidden;
}

.hero__container {
  position: relative;
  z-index: 1;
  min-width: 218px;
  padding-top: 134px;
  padding-bottom: 98px;
}

.hero__tagline {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-cl);
  margin-bottom: 20px;
}

.hero__tagline--accent {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;
  color: var(--accent-cl);
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  border-radius: 20px;
  border: none;
  background-color: var(--accent-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__item--mod {
  background-color: #fff;
}

.hero__item:not(:last-child) {
  margin-right: 8px;
}

.hero__link {
  display: block;
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
}

.hero__link--dark-mode {
  color: var(--white-cl);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.hero__link--light-mode {
  color: var(--accent-cl);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.ellipse {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
}

.hero__ellipse {
  position: absolute;
  z-index: -10;
  top: 23px;
  left: 36px;
}

.hero__img {
  position: absolute;
  z-index: -1;
  top: 33px;
  left: 117px;
}

/*#region 3 Products */
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__label {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--pink-cl);
}

.product__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-cl);
  margin-top: 15px;
  margin-bottom: 8px;
}

/*.list {
}
.products__list {
}
.item {
}*/
.products__item {
  position: relative;
  margin-top: 140px;
}

.products__item--box {
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.products__item--cream {
  background-color: var(--pink-bg-cl);
}

.products__item--coffee {
  background-color: #f0d1a5;
}

.products__item--milkshakes {
  background-color: #c2e297;
}

.products__item--cream::before {
  content: '';
  display: inline-block;
  background-image: url(../images/products/ice-cream_280.png);
  width: 280px;
  height: 280px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products__item--coffee::before {
  content: '';
  display: inline-block;
  background-image: url(../images/products/ice-coffee_280.png);
  width: 280px;
  height: 280px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products__item--milkshakes::before {
  content: '';
  display: inline-block;
  background-image: url(../images/products/milkshakes_280.png);
  width: 280px;
  height: 280px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product-name {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-cl);
  margin-top: 160px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-name::after {
  content: '';
  display: inline-block;
  background-image: url(../images/products/Group.svg);
  fill: #ffffff;
  width: 26px;
  height: 6px;
  margin-top: 32px;
}

.product-description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-cl);
  margin-bottom: 32px;
  max-width: 200px;
}

.product-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--white-cl);
  border: none;
  border-radius: 50%;
  margin-bottom: 40px;
}

.product-btn__icons {
  fill: var(--accent-cl);
}

/*#endregion*/
.about {
  background-color: var(--light-pink-bg-cl);
}

.about__title {
  margin-bottom: 32px;
}

.about__thumb {
  position: relative;
  margin-bottom: 40px;
}

.about__img {
  position: absolute;
  top: 395px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .about__img {
    display: none;
  }
}

.about__list {
  margin-bottom: 15px;
}

.about__item {
  width: 220px;
  margin-bottom: 15px;
  color: var(--about-cl);
  font-weight: 500;
  line-height: 1.62;
}

.about__item:first-child {
  color: var(--black-cl);
  margin-bottom: 25px;
}

.about__item:last-child {
  margin-bottom: 0;
}

.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 37px;
  min-width: 176px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
}

.about__icon {
  fill: currentColor;
  margin-left: 14px;
}

.sub-title {
  margin-bottom: 15px;
  color: var(--pink-cl);
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

.section-title {
  color: var(--accent-cl);
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

/*#region 5 Advantages*/
/*#endregion*/
/*#region 6 Gallery*/
/*#endregion*/
/*#region 7 Reviews */
/*#endregion*/
/*#region 8	Contacts */
.contacts {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(20%, #FFF5F6));
  background-image: linear-gradient(to bottom, #fff 20%, #FFF5F6 20%);
  background-size: 100%, contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__item {
  background: var(--white-cl);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  border-color: 1px solid grey;
  padding: 40px 32px;
  margin-bottom: 20px;
}

.contacts__item:last-child {
  margin-bottom: 32px;
}

.group-locate {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
}

.group-locate__category {
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-cl);
  margin-bottom: 20px;
}

.group-locate__category--cafe {
  width: 80px;
  background-color: #F0D1A5;
}

.group-locate__category--foodtruck {
  width: 130px;
  background-color: #C2E297;
}

.group-locate__city {
  margin-bottom: 8px;
  color: var(--black-cl);
}

.group-locate__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
  display: block;
}

.group-locate__text::after {
  margin-top: 24px;
  margin-bottom: 24px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.group-working-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
}

.group-working-time__day {
  color: var(--black-cl);
}

.group-working-time__time {
  color: var(--pink-cl);
  margin-bottom: 8px;
}

.group-working-time__time::after {
  margin-top: 24px;
  margin-bottom: 24px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.group-contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--about-cl);
  margin-right: 15px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.group-contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.group-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--about-cl);
  fill: var(--about-cl);
}

.group-contact__link:hover, .group-contact__link:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.group-contact__icon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 10px;
}

.group-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group-buttons__item:not(:last-child) {
  margin-bottom: 10px;
}

.group-buttons__icon {
  fill: transparent;
}

/* Modalka */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 94px 15px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 90%;
  background-color: gray;
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 530px;
    width: 100%;
  }
}

.modal-x {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #000;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-x:hover, .modal-x:focus {
  fill: var(--accent-cl);
}

.map {
  width: 280px;
  height: 480px;
}

/*#endregion*/
/*#region 7 Reviews */
/*#endregion*/
/*# sourceMappingURL=index.css.map */