/*#region root*/
:root {
  /* fonts */
  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;

  /* text colors*/
  --accent-cl: #d41443;
  --pink-cl: #ffa5ba;
  --white-cl: #ffffff;
  --black-cl: #000000;
  --about-cl: #907e82;

  /* background colors */
  --pink-bg-cl: #ffb8ca;
  --light-pink-bg-cl: #fff5f6;
  --decoration-cl: #c7133e;

  // btn colors
  --btn-accent-cl: #d41342;

  // Order-form colors
  --error-cl: #e22f37;
  --all-ok-cl: #ffb8ca;
  --warning-cl: #936e1e;

  /*  grid items*/
  --items: 1;
  --indent: 30px;

  /* animation */
  --transition-duration: 400ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion*/
