/*#region root*/
:root {
  /* fonts */
  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;

  /* text colors*/
  --accent-cl: #D41443;
  --pink-cl: #FFA5BA;
  --white-cl: #FFFFFF;
  --black-cl: #000000;
  --about-cl: #907E82;


  /* background colors */
  --pink-bg-cl:#FFB8CA;
  --light-pink-bg-cl: #FFF5F6;
  --decoration-cl: #C7133E

  // btn colors
  --btn-accent-cl:#D41342;

  /*  grid items*/
  --items: 1;
  --indent: 30px;

  /* animation */
  --transition-duration: 400ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion*/