<section class="about section" id="how">
  <div class="container about__container">
    <p class="section-label about__label">Tradition and love</p>
    <h2 class="section-title about__title">How it’s made?</h2>

    <div class="about__content">
      <div class="about__thumb">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/about/about_lg.webp    1x,
              ../src/images/about/about_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/about/about_lg.png    1x,
              ../src/images/about/about_lg@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/about/about_md.webp    1x,
              ../src/images/about/about_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/about/about_md.png    1x,
              ../src/images/about/about_md@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/about/about_sm.webp    1x,
              ../src/images/about/about_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/about/about_sm.png    1x,
              ../src/images/about/about_sm@2x.png 2x
            "
            type="image/png"
          />
          <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
          <img
            class="img about__img"
            src="../src/images/about/about_sm.png"
            alt="pitcher of milk and cow"
            width="280"
            height="279"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="about__right-side">
        <ul class="about__list list">
          <li class="about__item">
            <p>
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>
          </li>
          <li class="about__item">
            <p>
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt.
            </p>
          </li>
          <li class="about__item">
            <p>Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
        </ul>

        <button class="about__btn btn btn--mode-light" type="button" data-modal-about-open>
          Read more
          <svg class="about__icon" width="7" height="14">
            <use href="./images/sprite.svg#narrow-right-red"></use>
          </svg>
        </button>
        <div class="backdrop is-hidden" data-modal-about>

          <!-- Модальне вiкно секцiї about -->
          <div class="modal-about">
            <button class="modal-wrapper__btn" type="button" data-modal-about-close>
              <svg class="modal-wrapper__icon" aria-label="Закрыть окно" width="18" height="18">
                <use href="./images/sprite.svg#icon-close"></use>
              </svg>
            </button>
            <strong class="section-label modal-about__title">How it’s made?</strong>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum minima suscipit eveniet delectus architecto officiis saepe quia dolores impedit sit, harum, aspernatur voluptatem, atque reiciendis ipsam placeat maxime in ab cupiditate totam provident a assumenda minus. Odit, deserunt. Voluptates nulla labore sapiente rem libero eligendi deleniti esse. Mollitia, aut ea?
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
