<section class="section advantages">
  <div class="container">
    <h2 class="seсtion-title visually-hidden" id="advantages">Advantages our icecream</h2>
    <ul class="advantages__list list grid">
      <li class="advantages__item grid-item">
        <h3 class="advantages__item-title section-title">721</h3>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item grid-item">
        <h3 class="advantages__item-title section-title">16kg</h3>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item grid-item">
        <h3 class="advantages__item-title section-title">84</h3>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
