<section class="section advantages">
  <div class="conainer">
    <h2 class="advantages__title visually-hidden">Advantages our ice cream</h2>
    <ul class="advantages__grid list">
      <li class="advantages__grid-item">
        <h3 class="advantages__grid-title">721</h3>
        <p class="advantages__grid-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__grid-item">
        <h3 class="advantages__grid-title">16kg</h3>
        <p class="advantages__grid-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__grid-item">
        <h3 class="advantages__grid-title">84</h3>
        <p class="advantages__grid-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>

