<section class="section contacts">
<div class="container contacts__сontainer">
  <h2 class="section-title visually-hidden">Contacts</h2>
  <ul class="contacts list grid">

    <li class="contacts__item grid-item">
      <div class="group-locate">
        <p class="group-locate__category group-locate__category--cafe">cafe</p>
        <p class="group-locate__city">Chicago</p>
        <p class="group-locate__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="group-working-time">
        <p class="group-working-time__day">Monday - Friday</p>
        <time class="group-working-time__time">06:00 AM - 10:00 PM</time >
        <p class="group-working-time__day">Saturday - Sunday</p>
        <time class="group-working-time__time">08:00 AM - 16:00 PM</time>
      </div>
      <ul class="group-contact list">
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="group-contact__icon" aria-label="phone number" width="16"
              height="12">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>+61(0) 383 766 284</a>
        </li>
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="group-contact__icon" aria-label="e-mail" width="10" height="16">
              <use href="./images/sprite.svg#icon-envelope"></use>
            </svg>noreply@envato.com</a>
        </li>
      </ul>
    </li>

    <li class="contacts__item grid-item">
      <div class="group-locate">
        <p class="group-locate__category group-locate__category--foodtruck">foodtruck</p>
        <p class="group-locate__city">Los Angeles</p>
        <p class="group-locate__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="group-working-time">
        <p class="group-working-time__day">Monday - Friday</p>
        <time class="group-working-time__time">06:00 AM - 10:00 PM</time>
        <p class="group-working-time__day">Saturday - Sunday</p>
        <time class="group-working-time__time">08:00 AM - 16:00 PM</time>
      </div>
      <ul class="group-contact list">
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="group-contact__icon" aria-label="phone number" width="16" height="12">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>+61(0) 383 766 284</a>
        </li>
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="group-contact__icon" aria-label="e-mail" width="10" height="16">
              <use href="./images/sprite.svg#icon-envelope"></use>
            </svg>noreply@envato.com</a>
        </li>
      </ul>
    </li>

    <li class="contacts__item grid-item">
      <div class="group-locate">
        <p class="group-locate__category group-locate__category--cafe">cafe</p>
        <p class="group-locate__city">New York</p>
        <p class="group-locate__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="group-working-time">
        <p class="group-working-time__day">Monday - Friday</p>
        <time class="group-working-time__time">06:00 AM - 10:00 PM</time>
        <p class="group-working-time__day">Saturday - Sunday</p>
        <time class="group-working-time__time">08:00 AM - 16:00 PM</time>
      </div>
      <ul class="group-contact list">
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="group-contact__icon" aria-label="phone number" width="16" height="12">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>+61(0) 383 766 284</a>
        </li>
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="group-contact__icon" aria-label="e-mail" width="10" height="16">
              <use href="./images/sprite.svg#icon-envelope"></use>
            </svg>noreply@envato.com</a>
        </li>
      </ul>
    </li>

  </ul>
  <ul class="group-buttons list">
    <li class="group-buttons__item">
      <button class="group-buttons__btn btn btn--mode-dark" type="button" data-modal-contact-open>
            Our Locations
      <svg class="group-buttons__icon" aria-label="narrow-right" width="6" height="10">
      <use href="./images/sprite.svg#narrow-right-white"></use></svg>
    </button>
   <!-- map -->
           <div class="backdrop" data-modal-contact>
             <div class="modal">
              <button class="modal-x" type="button" data-modal-contact-close>
                 <svg class="modal-x__icon" aria-label="Закрыть окно" width="18" height="18">
                  <use href="./images/sprite.svg#icon-close"></use>
                </svg> 
              </button>
<iframe class="map" src="https://www.google.com/maps/d/u/1/embed?mid=13O-3F8U9n9tJTXelBbtKiERw7deD1To&ehbc=2E312F" width="640"
  height="480"></iframe>
            </div>
          </div> 
  </li>
    <!-- franchise-agreement -->

    <li class="group-buttons__item">
      <button class="group-buttons__btn btn btn--mode-light" type="button" data-modal-open>
        <a class="group-buttons__link link" href="./documents/sample-franchise-agreement.pdf" target="_blank">Franchise</a>
      <svg class="narrow" aria-label="narrow-right" width="10" height="12">
        <use href="./images/sprite.svg#narrow-right-red"></use>
      </svg>
      </button></li>
  </ul>
</div>
</section>