<!-- <article class="contacts" id="uk">
  <h1>contacts</h1>
  <div class="background"></div>
</article> -->

<section class="section contacts">
<div class="container">
  <h2 class="section-title visually-hidden">Contacts</h2>
  <ul class="contacts list">

    <li class="contacts__item">
      <div class="group-locate">
        <p class="group-locate__category">cafe</p>
        <p class="group-locate__city">Chicago</p>
        <p class="group-locate__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="group-working-time">
        <p class="group-working-time__day">Monday - Friday</p>
        <time class="group-working-time__time">06:00 AM - 10:00 PM</time >
        <p class="group-working-time__day">Saturday - Sunday</p>
        <time class="group-working-time__time">08:00 AM - 16:00 PM</time>
      </div>
      <ul class="group-contact list">
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="contact__icon" aria-label="phone number" width="16"
              height="12">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>+61(0) 383 766 284</a>
        </li>
        <li class="group-contact__item">
          <a class="group-contact__link link" href="tel:+610383766284">
            <svg class="contact__icon" aria-label="e-mail" width="10" height="16">
              <use href="./images/sprite.svg#icon-envelope"></use>
            </svg>noreply@envato.com</a>
        </li>
      </ul>
    </li>

    <li class="contacts__item">
      <div class="group-locate">
        <p class="group-locate__category">FOODTRUCK</p>
        <p class="group-locate__city">Los Angeles</p>
        <p class="group-locate__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="group-working-time">
        <p class="group-working-time__day">Monday - Friday</p>
        <p class="group-working-time__time">06:00 AM - 10:00 PM</p>
        <p class="group-working-time__day">Saturday - Sunday</p>
        <p class="group-working-time__time">08:00 AM - 16:00 PM</p>
      </div>
      <ul class="group-contact list">
        <li class="group-contact__phone">
          <a class="link" href="mailto:info@devstudio.com"><svg class="contacts__icon" aria-label="е-мейл" width="16" height="12">
            <use href="./images/sprite.svg#icon-envelope"></use></svg>noreply@envato.com </a>
        </li>
        <li class="group-contact__e-mail">
          <a class="contacts__link contacts__link--current" href="tel:+610383766284">
            <svg class="contacts__icon" aria-label="номер телефона" width="10" height="16">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>+61(0) 383 766 284 </a>
        </li>
      </ul>
    </li>

    <li class="contacts__item">
        <div class="group-locate">
          <p class="group-locate__category">CAFE</p>
          <p class="group-locate__city">New York</p>
          <p class="group-locate__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="group-working-time">
          <p class="group-working-time__day">Monday - Friday</p>
          <p class="group-working-time__time">06:00 AM - 10:00 PM</p>
          <p class="group-working-time__day">Saturday - Sunday</p>
          <p class="group-working-time__time">08:00 AM - 16:00 PM</p>
        </div>
      <ul class="group-contact list">
        <li class="group-contact__phone">
          <a class="link" href="mailto:info@devstudio.com"><svg class="contacts__icon" aria-label="е-мейл" width="16"
              height="12">
              <use href="./images/sprite.svg#icon-envelope"></use>
            </svg>noreply@envato.com </a>
        </li>
        <li class="group-contact__e-mail">
          <a class="contacts__link contacts__link--current" href="tel:+610383766284">
            <svg class="contacts__icon" aria-label="номер телефона" width="10" height="16">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>+61(0) 383 766 284 </a>
        </li>
      </ul>
    
    </li>

  </ul>
  <div class="group-buttons">
    <button class="dark-btn btn" type="button">Our Locations</button>
    <button class="light-btn btn" type="button">Franchise</button>
  </div>
</div>
</section>