
<section class="gallery">
  <div class="container">
    <h2 class="section-title visually-hidden">gallery</h2>
    <ul class="gallery--list list">
      <li class="gallery--item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
      ./images/gallery/desktop/gallerylg1.png 1x,
      ./images/gallery/desktop/gallerylg1@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
      ./images/gallery/tablet/gallerymd1.png 1x,
      ./images/gallery/tablet/gallerymd1@2x.png 2x" type="image/png">

          <source media="(max-width: 767px)" srcset="
      ./images/gallery/tablet/gallerymd1.png 1x,
      ./images/gallery/tablet/gallerymd1@2x.png 2x" type="image/png">
          <img class="gallery--img" src="./images/gallery/tablet/gallerymd1.png" alt="" width="138" height="138">
        </picture>
       </li> 
      <div class="gallery--item__flex ">
        <li class="gallery--item">
          <picture>
            <source media="(min-width: 1200px)" srcset="
            ./images/gallery/desktop/gallerylg2.png 1x,
            ./images/gallery/desktop/gallerylg2@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
            ./images/gallery/tablet/gallerymd2.png 1x,
            ./images/gallery/tablet/gallerymd2@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
            ./images/gallery/tablet/gallerymd2.png 1x,
            ./images/gallery/tablet/gallerymd2@2x.png 2x" type="image/png">
            <img class="gallery--img" src="./images/gallery/tablet/gallerymd2.png" alt="" width="138" height="138">
          </picture>
        </li>

        <li class="gallery--item ">
          <picture>
            <source media="(min-width: 1200px)" srcset="
          ./images/gallery/desktop/gallerylg3.png 1x,
          ./images/gallery/desktop/gallerylg3@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
          ./images/gallery/tablet/gallerymd3.png 1x,
          ./images/gallery/tablet/gallerymd3@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
          ./images/gallery/tablet/gallerymd3.png 1x,
          ./images/gallery/tablet/gallerymd3@2x.png 2x" type="image/png">
            <img class="gallery--img" src="./images/gallery/tablet/gallerymd3.png" alt="" width="138" height="138">
          </picture>
        </li>
      </div>
      <div class="gallery--item__flexmobile">
        <li class="gallery--item large">
          <picture>
            <source media="(min-width: 1200px)" srcset="
        ./images/gallery/desktop/gallerylg4.png 1x,
        ./images/gallery/desktop/gallerylg4@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
        ./images/gallery/tablet/gallerymd4.png 1x,
        ./images/gallery/tablet/gallerymd4@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
        ./images/gallery/tablet/gallerymd4.png 1x,
        ./images/gallery/tablet/gallerymd4@2x.png 2x" type="image/png">
            <img class="gallery--img " src="./images/gallery/tablet/gallerymd4.png" alt="" width="283" height="283">
          </picture>
        </li>

        <li class="gallery--item photomobile">

          <picture>
            <source media="(min-width: 1200px)" srcset="
              ./images/gallery/desktop/gallerylg5.png 1x,
              ./images/gallery/desktop/gallerylg5@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              ./images/gallery/tablet/gallerymd5.png 1x,
              ./images/gallery/tablet/gallerymd5@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              ./images/gallery/tablet/gallerymd5.png 1x,
              ./images/gallery/tablet/gallerymd5@2x.png 2x" type="image/png">
            <img class="gallery--img" src="./images/gallery/tablet/gallerymd5.png" alt="" width="138" height="138">
          </picture>
        </li>
      </div>
      <div class="gallery--item__flex div1">
        <li class="gallery--item">

          <picture>
            <source media="(min-width: 1200px)" srcset="
              ./images/gallery/desktop/gallerylg6.png 1x,
              ./images/gallery/desktop/gallerylg6@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              ./images/gallery/tablet/gallerymd6.png 1x,
              ./images/gallery/tablet/gallerymd6@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              ./images/gallery/tablet/gallerymd6.png 1x,
              ./images/gallery/tablet/gallerymd6@2x.png 2x" type="image/png">
            <img class="gallery--img" src="./images/gallery/tablet/gallerymd6.png" alt="" width="138" height="138">
          </picture>

        </li>

        <li class="gallery--item">

          <picture>
            <source media="(min-width: 1200px)" srcset="

              ./images/gallery/desktop/gallerylg7.png 1x,
              ./images/gallery/desktop/gallerylg7@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              ./images/gallery/tablet/gallerymd7.png 1x,
              ./images/gallery/tablet/gallerymd7@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              ./images/gallery/tablet/gallerymd7.png 1x,
              ./images/gallery/tablet/gallerymd7@2x.png 2x" type="image/png">
            <img class="gallery--img" src="./images/gallery/tablet/gallerymd7.png" alt="" width="138" height="138">
          </picture>

        </li>
      </div>

      <div class="gallery--item__flex div2">
        <li class="gallery--item">
          <picture>
            <source media="(min-width: 1200px)" srcset="
              ./images/gallery/desktop/gallerylg8.png 1x,
              ./images/gallery/desktop/gallerylg8@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              ./images/gallery/tablet/gallerymd8.png 1x,
              ./images/gallery/tablet/gallerymd8@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              ./images/gallery/tablet/gallerymd8.png 1x,
              ./images/gallery/tablet/gallerymd8@2x.png 2x" type="image/png">
            <img class="gallery--img" src="./images/gallery/tablet/gallerymd8.png" alt="" width="138" height="138">
          </picture>

        </li>

        <li class="gallery--item">

          <picture>
            <source media="(min-width: 1200px)" srcset="
           ./images/gallery/desktop/gallerylg9.png 1x,
            ./images/gallery/desktop/gallerylg9@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
            ./images/gallery/tablet/gallerymd9.png 1x,
            ./images/gallery/tablet/gallerymd9@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="

            ./images/gallery/tablet/gallerymd9.png 1x,
            ./images/gallery/tablet/gallerymd9@2x.png 2x" type="image/png">
            <img class="gallery--img" src="./images/gallery/tablet/gallerymd9.png" alt="" width="138" height="138">

</picture>

        </li>
      </div>
      <li class="gallery--item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/desktop/gallerylg10.png 1x,
              ./images/gallery/desktop/gallerylg10@2x.png 2x" type="image/png">

          <source media="(min-width: 768px)" srcset="
              ./images/gallery/tablet/gallerymd10.png 1x,
              ./images/gallery/tablet/gallerymd10@2x.png 2x" type="image/png">

          <source media="(max-width: 767px)" srcset="
              ./images/gallery/tablet/gallerymd10.png 1x,
              ./images/gallery/tablet/gallerymd10@2x.png 2x" type="image/png">
          <img class="gallery--img" src="./images/gallery/tablet/gallerymd10.png" alt="" width="138" height="138">
        </picture>
      </li>
    </ul>
  </div>
</section>
