
<section class="gallery">
  <div class="container">
    <h2 class="section-title visually-hidden">gallery</h2>
    <ul class="gallery--list list">
      <li class="gallery--item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
      /src/images/gallery/desktop/gallery__lg1.png 1x,
      /src/images/gallery/desktop/gallery__lg1@2x.png 2x" type="image/png">

          <source media="(min-width: 768px)" srcset="
      /src/images/gallery/tablet/gallery__md1.png 1x,
      /src/images/gallery/tablet/gallery__md1@2x.png 2x" type="image/png">

          <source media="(max-width: 767px)" srcset="
      /src/images/gallery/tablet/gallery__md1.png 1x,
      /src/images/gallery/tablet/gallery__md1@2x.png 2x" type="image/png">
          <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md1.png" alt="" width="43" height="43">
        </picture>
      </li>
      <div class="gallery--item__flex ">
        <li class="gallery--item">
          <picture>
            <source media="(min-width: 1200px)" srcset="
            /src/images/gallery/desktop/gallery__lg2.png 1x,
            /src/images/gallery/desktop/gallery__lg2@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
            /src/images/gallery/tablet/gallery__md2.png 1x,
            /src/images/gallery/tablet/gallery__md2@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
            /src/images/gallery/tablet/gallery__md2.png 1x,
            /src/images/gallery/tablet/gallery__md2@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md2.png" alt="" width="43" height="43">
          </picture>
        </li>

        <li class="gallery--item ">
          <picture>
            <source media="(min-width: 1200px)" srcset="
          /src/images/gallery/desktop/gallery__lg3.png 1x,
          /src/images/gallery/desktop/gallery__lg3@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
          /src/images/gallery/tablet/gallery__md3.png 1x,
          /src/images/gallery/tablet/gallery__md3@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
          /src/images/gallery/tablet/gallery__md3.png 1x,
          /src/images/gallery/tablet/gallery__md3@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md3.png" alt="" width="43" height="43">
          </picture>
        </li>
      </div>
      <div class="gallery--item__flexmobile">
        <li class="gallery--item">
          <picture>
            <source media="(min-width: 1200px)" srcset="
        /src/images/gallery/desktop/gallery__lg4.png 1x,
        /src/images/gallery/desktop/gallery__lg4@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
        /src/images/gallery/tablet/gallery__md4.png 1x,
        /src/images/gallery/tablet/gallery__md4@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
        /src/images/gallery/tablet/gallery__md4.png 1x,
        /src/images/gallery/tablet/gallery__md4@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md4.png" alt="" width="89" height="89">
          </picture>
        </li>

        <li class="gallery--item photomobile">

          <picture>
            <source media="(min-width: 1200px)" srcset="
              /src/images/gallery/desktop/gallery__lg5.png 1x,
              /src/images/gallery/desktop/gallery__lg5@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              /src/images/gallery/tablet/gallery__md5.png 1x,
              /src/images/gallery/tablet/gallery__md5@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              /src/images/gallery/tablet/gallery__md5.png 1x,
              /src/images/gallery/tablet/gallery__md5@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md1.png" alt="" width="43" height="43">
          </picture>
        </li>
      </div>
      <div class="gallery--item__flex div1">
        <li class="gallery--item">

          <picture>
            <source media="(min-width: 1200px)" srcset="
              /src/images/gallery/desktop/gallery__lg6.png 1x,
              /src/images/gallery/desktop/gallery__lg6@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              /src/images/gallery/tablet/gallery__md6.png 1x,
              /src/images/gallery/tablet/gallery__md6@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              /src/images/gallery/tablet/gallery__md6.png 1x,
              /src/images/gallery/tablet/gallery__md6@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md6.png" alt="" width="43" height="43">
          </picture>

        </li>

        <li class="gallery--item">

          <picture>
            <source media="(min-width: 1200px)" srcset="
              /src/images/gallery/desktop/gallery__7g1.png 1x,
              /src/images/gallery/desktop/gallery__7g1@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              /src/images/gallery/tablet/gallery__md7.png 1x,
              /src/images/gallery/tablet/gallery__md7@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              /src/images/gallery/tablet/gallery__md7.png 1x,
              /src/images/gallery/tablet/gallery__md7@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md7.png" alt="" width="43" height="43">
          </picture>

        </li>
      </div>

      <div class="gallery--item__flex div2">
        <li class="gallery--item">
          <picture>
            <source media="(min-width: 1200px)" srcset="
              /src/images/gallery/desktop/gallery__lg8.png 1x,
              /src/images/gallery/desktop/gallery__lg8@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
              /src/images/gallery/tablet/gallery__md8.png 1x,
              /src/images/gallery/tablet/gallery__md8@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
              /src/images/gallery/tablet/gallery__md8.png 1x,
              /src/images/gallery/tablet/gallery__md8@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md8.png" alt="" width="43" height="43">
          </picture>

        </li>

        <li class="gallery--item">

          <picture>
            <source media="(min-width: 1200px)" srcset="
            /src/images/gallery/desktop/gallery__lg9.png 1x,
            /src/images/gallery/desktop/gallery__lg9@2x.png 2x" type="image/png">

            <source media="(min-width: 768px)" srcset="
            /src/images/gallery/tablet/gallery__md9.png 1x,
            /src/images/gallery/tablet/gallery__md9@2x.png 2x" type="image/png">

            <source media="(max-width: 767px)" srcset="
            /src/images/gallery/tablet/gallery__md9.png 1x,
            /src/images/gallery/tablet/gallery__md9@2x.png 2x" type="image/png">
            <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md.png" alt="" width="43" height="43">
          </picture>

        </li>
      </div>
      <li class="gallery--item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              /src/images/gallery/desktop/gallery__lg10.png 1x,
              /src/images/gallery/desktop/gallery__lg10@2x.png 2x" type="image/png">

          <source media="(min-width: 768px)" srcset="
              /src/images/gallery/tablet/gallery__md10.png 1x,
              /src/images/gallery/tablet/gallery__md10@2x.png 2x" type="image/png">

          <source media="(max-width: 767px)" srcset="
              /src/images/gallery/tablet/gallery__md10.png 1x,
              /src/images/gallery/tablet/gallery__md10@2x.png 2x" type="image/png">
          <img class="gallery--img" src="/src/images/gallery/tablet/gallery__md10.png" alt="" width="43" height="43">
        </picture>
      </li>
    </ul>
  </div>
</section>
