
<section class="gallery">
<ul class="gallery--list">
  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm1.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm2.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm3.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm4.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm5.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm6.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm7.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm8.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm9.jpg" alt=""></li>

  <li class="gallery--item"> 
    
    <img src="./src/images/gallery/mobile/gallery__sm10.jpg" alt=""></li>

</ul>
</section>