<header class="header">
  <div class="container header__container">
    <a href="" alt="logo website icecreame"> 
      <svg class="logo__icon" width="199" height="50">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>

    <!-- mobile-menu -->  
  <button class="menu-button" aria-expanded="false" aria-controls="mobile-menu" type="button" data-menu-button>
  <svg class="" width="40" height="40" aria-label="Переключатель мобильного меню">
    <use class="icon-cross" href="./images/sprite.svg#icon-cross"></use>
    <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
  </svg>
</button>

    <div class="mobile-menu" id="mobile-menu" data-menu>   
      <button class="mobile-menu__btn btn btn--mode-light" type="button" data-modal-open>Buy now
        <svg class="group-buttons__icon" aria-label="narrow-right" width="6" height="10">
          <use href="./images/sprite.svg#narrow-right-red"></use>
      </svg>
      </button>

      <ul class="mobile-menu__nav list">
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link link" href="#products">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link link" href="#how">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link link" href="#team">How it&#180;s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link link" href="#contact">Our products</a>
        </li>
         <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link link" href="#contact">Contact</a>
        </li>
      </ul>
</div>

    <!-- <include src="buy-now-modal.html"></include> -->


  </div>

</header>