<header class="header">
  <div class="container header__container">
    <a href="" alt="logo website icecreame"> 
      <img src="./images/logo-icecream.png" alt="logo" />
    </a>
    <!-- mobile-menu -->  
    <button class="menu-button" aria-expanded="false" aria-controls="mobile-menu" type="button" data-menu-button>
  <svg class="" width="40" height="40" aria-label="Переключатель мобильного меню">
    <use class="icon-cross" href="./images/sprite.svg#icon-cross"></use>
    <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
  </svg>
    </button>
  </div>

  <div class="mobile-menu" id="mobile-menu" data-menu>
    <!-- <button class="btn-mob-menu js-close-menu">
      <svg class="btn-mob-menu__cross" width="30" height="30">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button> -->
    <button class="btn btn--mode-light" type="button" data-modal-open>Buy now</button>
    <!-- <include src="buy-now-modal.html"></include> -->

    <ul class="list">
      <li class="link">Home</li>
      <li class="link">About us</li>
      <li class="link">How it&#180;s made?</li>
      <li class="link">Our products</li>
      <li class="link">Contact</li>
    </ul>
  </div>

  <script src="./index.js"></script>
</header>