<header class="header" id="header">
  <div class="container header__container">

        <a href="#home" alt="logo website icecreame">
          <svg class="site-logo" width="199" height="50">
            <use href="./images/sprite.svg#logo"></use>
          </svg>
        </a>

    <nav class="site-nav">
      <ul class="site-nav__list list">
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#home">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#products">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#how">How it&#180;s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#about">About us</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- mobile-menu-button -->
    <div class="block-menu">
      <button class="menu-button burger__btn" aria-expanded="false" aria-controls="mobile-menu" type="button"
        data-menu-open>
        <svg class="burger" width="20" height="20" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    
      <button class="buy__btn btn btn--mode-light" type="button" data-modal-open>
        Buy now
        <svg class="narrow" aria-label="narrow-right" width="10" height="12">
          <use href="./images/sprite.svg#narrow-right-red"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu is-closed" id="mobile-menu" data-menu>
      <div class="mobile-menu__container">
        <button class="menu-button cross__btn" type="button" data-menu-close>
          <svg class="cross" width="25" height="25">
            <use href="./images/sprite.svg#icon-cross"></use>
          </svg>
        </button>
    
        <ul class="mobile-menu__nav list">
    
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#home">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#products">Our products</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#how">How it&#180;s made?</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#about">About us</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</header>
