<section class="hero section">
  <div class="hero__container container">
    <h1 class="hero__tagline">
      ice cream<br />
      made with<br />
      <span class="hero__tagline--accent">passion</span>
    </h1>
    <ul class="hero__list list">
      <li class="hero__item">
        <a href="" class="hero__link hero__link--dark-mode link">Products</a>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link hero__link--light-mode link">
          How it’s made?</a
        >
      </li>
    </ul>
  </div>
</section>
