<div class="map__backdrop is-invisible" data-map>
    <div class="map__modal">

        <button class="map__close-btn" type="button" data-map-close>
            <svg class="map__close-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <img src="./images/contacts/map-img.png" alt="" class="map__img">

        <a class="map__link map__link--chicago link" href="https://rebelcreamery.com/" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="map__icon">
                <use href="./images/sprite.svg#cream"></use>
            </svg>
        </a>
        <div class="information__block information__block--chicago">
            <p class="information__text ">Chicago ice-cream is waiting for you!</p>
        </div>
        <div class="city__block city__block--chicago">
            <p class="city__text">Chicago</p>

        </div>

        <a class="map__link map__link--angeles link" href="https://cloversonoma.com/inventory_category/icecream/?gclid=Cj0KCQjw8O-VBhCpARIsACMvVLNKzhkvCiv_iCi79tfKZXXit0Ga3Z2xca3QDBp9oDGrJiLPUjsbh_EaAsTMEALw_wcB" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="map__icon">
                <use href="./images/sprite.svg#cream"></use>
            </svg>
        </a>
        <div class="information__block information__block--angeles">
            <p class="information__text">Take a rest with ice-cream in LA!</p>
        </div>
        <div class="city__block city__block--angeles">
            <p class="city__text">Los Angeles</p>
        </div>

        <a class="map__link map__link--york link" href="https://www.nycicecream.com/?gclid=Cj0KCQjw8O-VBhCpARIsACMvVLPBMOcZAZkh-dHXslZsLy4h_wbSvksmvOJfHP0NtQ3SINshZ3ggwhEaAqe3EALw_wcB" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="map__icon">
                <use href="./images/sprite.svg#cream"></use>
            </svg>
        </a>
        <div class="information__block information__block--york">
            <p class="information__text">New-York - new ice-cream!</p>
        </div>
        <div class="city__block city__block--york">
            <p class="city__text">New-York</p>
        </div>

        <div class="mobile__map-container">
            <p class="mobile__map-text">You can find us here:</p>
            <div class="mobile__link-container">
                <a class="mobile__link--cream mobile__link--chicago link" href="https://www.google.com/maps/d/u/1/viewer?hl=ru&mid=13O-3F8U9n9tJTXelBbtKiERw7deD1To&ll=43.39882563600538%2C-92.60920385000001&z=4" target="_blank" rel="noopener nofollow noreferrer">
                    <svg class="mobile__icon">
                        <use href="./images/sprite.svg#cream"></use>
                    </svg>
                    <p class="mobile__city">Chicago</p></a>
                    <address class="mobile__link--cream mobile__adress">646 Michigan Ave, Chicago, IL 60611</address>
                    <p class="mobile__link--cream mobile__link link" href="tel:+610383766284"> +61(0) 383 766 284</p>

                
                <a class="mobile__link--cream mobile__link--angeles link" href="https://www.google.com/maps/d/u/1/viewer?hl=ru&mid=13O-3F8U9n9tJTXelBbtKiERw7deD1To&ll=43.39882563600538%2C-92.60920385000001&z=4" target="_blank" rel="noopener nofollow noreferrer">
                    <svg class="mobile__icon">
                        <use href="./images/sprite.svg#cream"></use>
                    </svg>
                    <p class="mobile__city">Los Angeles</p></a>
                    <address class="mobile__link--cream mobile__adress">10250 Santa Monica Blvd 3rd floor</address>
                    <p class="mobile__link--cream mobile__link link" href="tel:+610383766284"> +61(0) 383 766 284</p>
                
                <a class="mobile__link--cream mobile__link--york link" href="https://www.google.com/maps/d/u/1/viewer?hl=ru&mid=13O-3F8U9n9tJTXelBbtKiERw7deD1To&ll=43.39882563600538%2C-92.60920385000001&z=4" target="_blank" rel="noopener nofollow noreferrer">
                    <svg class="mobile__icon">
                        <use href="./images/sprite.svg#cream"></use>
                    </svg>
                    <p class="mobile__city">New York</p></a>
                    <address class="mobile__link--cream mobile__adress">111 E 59th St Space 1, New York, NY 10022</address>
                    <p class="mobile__link--cream mobile__link link" href="tel:+610383766284"> +61(0) 383 766 284</p>
            </div>
        </div>
    </div>
</div>