<!-- mobile-menu -->

<div class="mobile-menu is-closed" id="mobile-menu" data-menu>
    <div class="mobile-menu__container">
        <button class="menu-button cross__btn" type="button" data-menu-close>
            <svg class="cross" width="25" height="25">
                <use href="./images/sprite.svg#icon-cross"></use>
            </svg>
        </button>

        <button class="mobile-menu__btn btn btn--mode-light" type="button" data-modal-open>
            Buy now
            <svg class="narrow" aria-label="narrow-right" width="10" height="12">
                <use href="./images/sprite.svg#narrow-right-red"></use>
            </svg>
        </button>

        <ul class="mobile-menu__nav list">
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link link" href="#products">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link link" href="#how">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link link" href="#team">How it&#180;s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link link" href="#contact">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</div>