<section class="section">
  <div class="container product">
    <label class="section-label product__label">100% natural</label>
    <h2 class="section-title product__title" id="products">products</h2>
    <ul class="list products__list">
      <!--section cream-->
      <li class="item products__item">
        <div class="window-product is-hidden" data-cream>
          <div class="window-product--box">
            <h3 class="window-product--name">ice cream</h3>
            <button class="window-product--btn" type="button" data-cream-close>
              <svg class="window-product--svg" width="10" height="10">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <p class="window-product--description">
            Ice cream is a sweetened frozen food typically eaten as a snack or
            dessert. It may be made from milk or cream and is flavoured with a
            sweetener, either sugar or an alternative, and a spice, such as
            cocoa or vanilla, or with fruit such as strawberries or peaches. It
            can also be made by whisking a flavored cream base and liquid
            nitrogen together. Food coloring is sometimes added, in addition to
            stabilizers. The mixture is cooled below the freezing point of water
            and stirred to incorporate air spaces and to prevent detectable ice
            crystals from forming. The result is a smooth, semi-solid foam that
            is solid at very low temperatures (below 2 °C or 35 °F). It becomes
            more malleable as its temperature increases.
          </p>
        </div>
        <div
          class="products__item--box products__item--cream"
          data-cream-product
        >
          <h3 class="product-name">ice cream</h3>
          <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="product-btn" data-cream-open
            ><svg class="product-btn__icons" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-right"></use></svg
          ></a>
        </div>
      </li>
      <!--section coffee-->
      <li class="item products__item">
        <div class="window-coffee-product is-hidden" data-coffee>
          <div class="window-coffee--box">
            <h3 class="window-coffee--name">ice coffee</h3>
            <button class="window-coffee--btn" type="button" data-coffee-close>
              <svg class="window-coffee--svg" width="10" height="10">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <p class="window-coffee--description">
            Iced coffee is a coffee beverage served cold. It may be prepared
            either by brewing coffee normally (i.e. carafe, French press, etc.)
            and then serving it over ice or in cold milk, or by brewing the
            coffee cold. In hot brewing, sweeteners and flavoring may be added
            before cooling, as they dissolve faster. Iced coffee can also be
            sweetened with pre-dissolved sugar in water. Pre-packaged iced
            coffee is available as a grocery item in several countries, though
            without ice. Iced coffee is also regularly available in most coffee
            shops. Iced coffee is generally brewed at a higher strength than
            normal coffee, since it is diluted by the melting ice.
          </p>
        </div>
        <div
          class="products__item--box products__item--coffee"
          data-coffee-product
        >
          <h3 class="product-name">ice coffee</h3>
          <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="product-btn product-btn--coffee" data-coffee-open
            ><svg class="product-btn__icons" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-right"></use></svg
          ></a>
        </div>
      </li>
      <!--section milkshakes-->
      <li class="item products__item">
        <div class="window-milkshakes-product is-hidden" data-milkshakes>
          <div class="window-milkshakes--box">
            <h3 class="window-milkshakes--name">milkshakes</h3>
            <button
              class="window-milkshakes--btn"
              type="button"
              data-milkshakes-close
            >
              <svg class="window-milkshakes--svg" width="10" height="10">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <p class="window-milkshakes--description">
            A milkshake (sometimes simply called a shake) is a sweet beverage
            made by blending milk, ice cream, and flavorings or sweeteners such
            as butterscotch, caramel sauce, chocolate syrup, fruit syrup, or
            whole fruit into a thick, sweet, cold mixture. It may also be made
            using a base made from non-dairy products, including plant milks
            such as almond milk, coconut milk, or soy milk. Milkshakes
            originated in the United States around the turn of the 20th century,
            and grew in popularity following the introduction of electric
            blenders in the subsequent two decades. They became a common part of
            youth popular culture, as ice cream shops were a culturally
            acceptable meeting place for youth, and milkshakes became symbolic
            of the innocence of youth.
          </p>
        </div>
        <div
          class="products__item--box products__item--milkshakes"
          data-milkshakes-product
        >
          <h3 class="product-name">milkshakes</h3>
          <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="product-btn product-btn--milkshakes" data-milkshakes-open
            ><svg class="product-btn__icons" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-right"></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
