<section class="section">
  <div class="container product">
    <label class="product__label">100% natural</label>
    <h2 class="product__title">products</h2>
    <ul class="list products__list">
      <li class="item products__item">
        <div class="products__item--box products__item--cream">
          <h3 class="product-name">ice cream</h3>

          <p class="product-description">
            Ice cream is a food product-dessert, which is a mass frozen in the
            process of continuous whipping, containing basically nutritious,
            flavoring, aromatic and emulsifying substances.
          </p>
          <a class="product-btn" href="https://en.wikipedia.org/wiki/Ice_cream"
            ><svg class="product-btn__icons" width="10" height="10">
              <use
                href="./images/products/sprite.svg#icon-arrow-right"
              ></use></svg
          ></a>
        </div>
      </li>
      <li class="item products__item">
        <div class="products__item--box products__item--coffee">
          <h3 class="product-name">ice coffee</h3>
          <p class="product-description">
            Iced coffee, ice coffee is a way of serving coffee drinks. It is
            often consumed as a soft drink, especially in summer.
          </p>
          <a
            class="product-btn"
            href="https://en.wikipedia.org/wiki/Iced_coffee"
            ><svg class="product-btn__icons" width="10" height="10">
              <use
                href="./images/products/sprite.svg#icon-arrow-right"
              ></use></svg
          ></a>
        </div>
      </li>
      <li class="item products__item">
        <div class="products__item--box products__item--milkshakes">
          <h3 class="product-name">milkshakes</h3>
          <p class="product-description">
            Milkshake is a dessert drink based on milk and ice cream. To give
            the cocktail a variety of flavors, a variety of syrups, fruits,
            berries, grated Oreo cookies, and so on are added to it.
          </p>
          <a class="product-btn" href="https://en.wikipedia.org/wiki/Milkshake"
            ><svg class="product-btn__icons" width="10" height="10">
              <use
                href="./images/products/sprite.svg#icon-arrow-right"
              ></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
