<section class="section">
  <div class="container product">
    <label class="section-label product__label">100% natural</label>
    <h2 class="section-title product__title" id="products">products</h2>
    <ul class="list products__list">
      <li class="item products__item">
        <div class="products__item--box products__item--cream">
          <h3 class="product-name">ice cream</h3>

          <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="product-btn" href="https://en.wikipedia.org/wiki/Ice_cream"
            ><svg class="product-btn__icons" width="10" height="10">
              <use
                href="./images/sprite.svg#icon-arrow-right"
              ></use></svg
          ></a>
        </div>
      </li>
      <li class="item products__item">
        <div class="products__item--box products__item--coffee">
          <h3 class="product-name">ice coffee</h3>
          <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a
            class="product-btn"
            href="https://en.wikipedia.org/wiki/Iced_coffee"
            ><svg class="product-btn__icons" width="10" height="10">
              <use
                href="./images/sprite.svg#icon-arrow-right"
              ></use></svg
          ></a>
        </div>
      </li>
      <li class="item products__item">
        <div class="products__item--box products__item--milkshakes">
          <h3 class="product-name">milkshakes</h3>
          <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="product-btn" href="https://en.wikipedia.org/wiki/Milkshake"
            ><svg class="product-btn__icons" width="10" height="10">
              <use
                href="./images/sprite.svg#icon-arrow-right"
              ></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
