<section class="reviews section">
  <div class="container reviews__container">
    <!-- Slider main container -->
    <div class="reviews__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-1.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
            <p class="slider__name">Оlexander, Kharkiv</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-2.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Vladyslav, Kyiv</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-3.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Оlexander, Brovary</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-4.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Sergiy, Chernihiv</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-5.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Anna, Zaporizhzhia</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-6.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Darina, Kyiv</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-7.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Roman, Kharkiv</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-8.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Anastasiia, Dnipro</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-9.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Ivan, Brovary</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/team/member-10.jpg" alt="Member of our team" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Oleksander, Poltava</p>
        </article>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
