<section class="reviews section">
  <div class="container reviews__container">
    <!-- Slider main container -->
    <div class="reviews__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
            <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="quotes-container">
              <div class="marker-container">
                <div class="text-container">
                  <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="slider__name">Emily, Los Angeles</p>
        </article>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
