<section class="reviews section">
  <div class="container">
    <!-- Slider main container -->
    <div class="reviews__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-1.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-3.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In
                hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In
                hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In
                hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In
                hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In
                hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In
                hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
        <article class="reviews__slide swiper-slide">
          <div class="slider-container">
            <img class="slider__img" src="./images/reviews/test-2.png" alt="" width="85" height="85">
            <div class="text-container">
              <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In
                hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </article>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
