/* Стили кнопки */

.btn {
  @include fonts(700, 16px, 21px, 0.04em);
  min-width: 167px;
  padding: 10px;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  &--mode-light {
    color: var(--btn-accent-cl);
    background-color: var(--white-cl);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }

  &--mode-dark {
    color: var(--white-cl);
    background-color: var(--btn-accent-cl);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: #b6133c;
    }
  }
}

.buy-now__btn {
  @include mq(mobile-only) {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;

  color: var(--accent-cl);
}

.buy-now__btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 16px;
  text-align: center;
  margin-bottom: 32px;
  max-width: 209px;

  color: var(--accent-cl);
}

