/* Стили кнопки */

.btn {
    @include fonts(700, 16px, 21px, 0.04em);
    min-width: 167px;
    padding: 10px;
    border-radius: 22px;
    border: 0;
    cursor: pointer;

    &--mode-light {
      color: var(--btn-accent-cl);
      background-color: var(--white-cl);
      border: 1px solid var(--btn-accent-cl);
      transition:
          background-color var(--transition-duration) var(--transition-timing-function);

      &:hover,
      &:focus {
        background-color: #ECEBEB;
      }
    }
    
    &--mode-dark {
      color: var(--white-cl);
      background-color: var(--btn-accent-cl);
      transition:
          background-color var(--transition-duration) var(--transition-timing-function);

      &:hover,
      &:focus {
            background-color: var(--btn-accent-cl);
      }
    }
  }

  