/* Стили кнопки */

.btn {
    @include fonts(700, 16px, 21px, 0.04em);
    min-width: 167px;
    padding: 10px;
    border-radius: 22px;
    border: 0;

    &--mode-light {
      color: var(--btn-accent-cl);
      background-color: var(--white-cl);

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
    
    &--mode-dark {
      color: var(--white-cl);
      background-color: var(--btn-accent-cl);

      &:hover,
      &:focus {
            transform: scale(1.2);
      }
    }
  }