// backdrop

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 94px 15px;
  overflow-y: scroll;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.buy-now__modal-wrapper {
  position: absolute;
  top: 42%;
  left: 50%;

  padding: 20px;
  padding-top: 40px;
  width: 90%;
  max-width: 530px;
  margin-top: 60px;

  background-color: var(--white-cl);
  border-radius: 2%;

  transform: translate(-50%, -50%);

  transition: transform var(--transition-duration) var(--transition-timing-function);

  @include mq(tablet) {
    top: 40%;
    transform: translate(-50%, -50%) scale(0.9);
  }

  @include mq(desktop) {
    width: 100%;
  }

  .button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--black-cl);
    width: 30px;
    height: 30px;
    background-color: var(--white-cl);
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;

    transition: fill var(--transition-duration) var(--transition-timing-function),
      border var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      fill: var(--accent-cl);
      border: 1px solid var(--accent-cl);
    }
  }
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop-contact .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

// modal-form

.modal-title {
  display: block;
  margin-bottom: 25px;

  @include fonts(800, 20px, 24px, 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-cl);
}

.buy-now__img {
  position: absolute;
  opacity: 0.5;
  top: 14%;
  left: 50%;
  transform: translatex(-50%);
  pointer-events: none;
}

.modal-form {
  &__group {
    position: relative;
    display: block;
    margin-bottom: 20px;
  }

  &__label {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: var(--accent-cl);
  }

  &__label::before {
    content: '\002A';
    position: absolute;
    top: 0;
    right: -12px;
    color: var(--error-cl);
  }

  /* Стилізація інпута */

  &__input {
    width: 100%;
    padding: 12px 40px;
    background-color: transparent;

    border-radius: 5px;
    border: 1px solid var(--pink-cl);
    outline: transparent;

    transition: border var(--transition-duration) var(--transition-timing-function);
  }

  &__input:invalid:not(:placeholder-shown) {
    border-color: var(--error-cl);
  }

  &__input:valid:not(:placeholder-shown) {
    border-color: var(--all-ok-cl);
  }

  /* Стилизация иконок */
  &__icon {
    position: absolute;
    bottom: 12px;
    left: 10px;
    fill: var(--pink-cl);

    transition: fill var(--transition-duration) var(--transition-timing-function);
  }

  &__input:valid:not(:placeholder-shown)~&__icon {
    fill: var(--all-ok-cl);
  }

  &__input:focus {
    border-color: var(--warning-cl);
  }

  &__input:focus~&__icon {
    fill: var(--warning-cl);
  }

  &__input:invalid:not(:placeholder-shown)~&__icon {
    fill: var(--error-cl);
  }

  /* Стилизация предупреждений */
  &__alert {
    position: absolute;
    bottom: -22px;
    left: 50px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 90%;
    font-size: 10px;

    opacity: 0;

    transition: opacity var(--transition-duration) var(--transition-timing-function);
  }

  &__alert--error {
    color: var(--error-cl);
  }

  &__alert--warning {
    color: var(--warning-cl);
  }

  &__alert__icon {
    position: absolute;
    right: 10px;
    bottom: 12px;

    display: inline-flex;
    fill: currentColor;
    opacity: 0;
    transform: scale(0.3);

    transition: fill var(--transition-duration) var(--transition-timing-function);
  }

  &__alert-icon--warning {
    fill: var(--warning-cl);
  }

  &__alert-icon--error {
    fill: var(--error-cl);
  }

  &__input:focus~&__alert--warning,
  &__input:focus~&__alert-icon--warning {
    letter-spacing: 0.01em;
    opacity: 1;
    transform: scale(1);
  }

  &__input:not(:placeholder-shown)~&__alert--warning,
  &:not(:placeholder-shown)~&__alert-icon--warning {
    opacity: 0;
  }

  &__input:invalid:not(:placeholder-shown)~&__alert--error,
  &__input:invalid:not(:placeholder-shown)~&__alert-icon--error {
    letter-spacing: 0.01em;
    opacity: 1;
    transform: scale(1);
  }

  /* payment checkbox (радио кнопки) */

  &__subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--accent-cl);
    @include fonts(700, 14px, 18px, 0.02em, uppercase);
  }

  &__pay-type {
    @include centeredFlex(flex);
  }

  &__pay-group:not(:last-child) {
    margin-right: 20px;
  }

  &__pay-option {
    fill: var(--accent-cl);
    filter: grayscale(1);
    margin-bottom: 20px;

    transition: filter var(--transition-duration) var(--transition-timing-function);
  }

  &__checkbox:checked+&__pay-option {
    filter: grayscale(0);
  }

  /* chekbox-style */

  &__policy-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__custom-checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;

    outline: 2px solid var(--accent-cl);
    border-radius: 4px;
    outline-offset: -2px;
  }

  &__custom-checkbox-icon {
    opacity: 0;
    fill: var(--main-bg-cl);
    transition: opacity var(--transition-duration) var(--transition-timing-function),
      background-color var(--transition-duration) var(--transition-timing-function);
  }

  &__checkbox:checked+&__custom-checkbox {
    background-color: var(--accent-cl);
  }

  &__checkbox:checked+&__custom-checkbox &__custom-checkbox-icon {
    opacity: 1;
  }

  &__link {
    color: var(--accent-cl);
  }

  &__policy-description {
    font-size: 14px;
  }

  &__submit-btn {
    display: block;
    margin: 0 auto;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
  }
}