.mobile-menu.is-closed {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mobile-menu.is-closed .mobile-menu__container {
    transform: translateX(-100%);
}

.mobile-menu {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__container {
        position: fixed;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;
        padding: 60px 20px 20px;

        display: flex;
        flex-direction: column;

        background-color: #E17992;

        transform: translateX(0%);

        transition: transform var(--transition-duration) var(--transition-timing-function);
    }

    @include mq(tablet) {
        display: none;
    }


    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        padding-left: 48px;
        padding-right: 48px;
        margin-bottom: 19px;
        max-width: 209px;

        color: var(--accent-cl);
    }

    &__nav {
        @include fonts(700, 14px, 18px, 0.1em);
        text-align: left;
        color: var(--white-cl);
    }

    &__item {
        border-bottom: 1px solid #E18298;
        border-top: 1px solid #E18298;
    }

    &__link {
        padding-top: 10px;
        padding-bottom: 13px;
        display: inline-block;
        position: relative;
        color: var(--white-cl);
        transition: color var(--transition-duration) var(--transition-timing-function);
    }

    &__link:focus,
    &__link:hover {
        color: var(--accent-cl);
    }
}

.mobile-menu__link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--accent-cl);

    transition: width var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu__link:hover::after,
.mobile-menu__link:focus::after {
    width: 100%;
}

.narrow {
    fill: currentColor;
}

.cross__btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cross {
    stroke: var(--white-cl);

    transition: stroke var(--transition-duration) var(--transition-timing-function);
}

.cross__btn:hover .cross,
.cross__btn:focus .cross {
    stroke: var(--accent-cl);
}