.about {
    background-color: var(--light-pink-bg-cl);

    &__title {
        margin-bottom: 32px;
    }

    &__thumb{
        position: relative;
        margin-bottom: 40px;
    }

    &__img {
        position: absolute;
        top: 395px;
        left: 0;
        @include mq(tablet){
            display: none;
        }
    }

    &__list{
        margin-bottom: 15px;
    }

    &__item {
        width: 220px;
        margin-bottom: 15px;

        color: var(--about-cl);

        font-weight: 500;
        line-height: 1.62;
    }

    &__item:first-child{
        color: var(--black-cl);
        margin-bottom: 25px;
    }

    &__item:last-child{
        margin-bottom: 0;
    }

    &__btn {
        display: flex;
        align-items: center;

        padding: 13px 37px;
        min-width: 176px;
        border-radius: 22px;

        @include fonts(700, 14px, 18px, null);
        text-align: center;
    }

    &__icon {
        fill: currentColor;
        margin-left: 14px;
    }
}

.sub-title {
    margin-bottom: 15px;

    color: var(--pink-cl);

    font-family: var(--title-font);
    @include fonts(400, 18px, 21px, null, uppercase);
    text-align: center;
}

.section-title {
    color: var(--accent-cl);

    font-family: var(--title-font);
    @include fonts(400, 34px, 39px, 0.04em, uppercase);
    text-align: center;
}

