.about {
    background-color: var(--light-pink-bg-cl);
    background-repeat: no-repeat;
    background-position: 50% 550px;
    background-image: url(../images/about/about-bg_sm.png);

    @include mq(retina) {
        background-image: url(../images/about/about-bg_sm@2x.png);
    }

    &__title {
        margin-bottom: 32px;
    }

    &__thumb{
        margin-bottom: 40px;
    }

    &__list{
        margin-bottom: 15px;
    }

    &__item {
        width: 220px;
        margin-bottom: 15px;

        color: var(--about-cl);

        font-weight: 500;
        line-height: 1.62;
    }

    &__item:first-child{
        color: var(--black-cl);
        margin-bottom: 20px;
    }

    &__item:last-child{
        margin-bottom: 0;
    }

    &__btn {
        padding: 13px 37px;
        min-width: 176px;
        border-radius: 22px;
        border: none;

        @include fonts(700, 14px, 18px, null);
        text-align: center;

        &__btn:hover,
        &__btn:focus {
            background-color: #ECEBEB;
            ;
        }
    }
<<<<<<< HEAD
}
=======
}

.sub-title {
    margin-bottom: 15px;

    color: var(--pink-cl);

    font-family: var(--title-font);
    @include fonts(400, 18px, 21px, null, uppercase);
    text-align: center;
}

.section-title {
    color: var(--accent-cl);

    font-family: var(--title-font);
    @include fonts(400, 34px, 39px, 0.04em, uppercase);
    text-align: center;
}

>>>>>>> parent of 41fb7d2 ( добавила мобильную версию)
