.about {
    background-color: var(--light-pink-bg-cl);
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-position-y: 570px;
    background-size: contain;
    background-image: url(../images/about/bg-about_sm.png);

    @include mq(retina){
        background-image: url(../images/about/bg-about_sm@2x.png);
    }

    @include mq(tablet){
        background-image: none;
    }

    @include mq(desktop){
        background-position-y: 236px;
        background-image: url(../images/about/bg-about_lg.png);

        @include mq(retina){
            background-image: url(../images/about/bg-about_lg@2x.png);
        }
    }

    &__container{
        @include mq(mobile-gummy) {
            width: 100%;
        }
        
        @include mq(mobile-fixed) {
            width: 480px;
        }
    }

    &__label{
        margin-bottom: 15px;
        @include mq(tablet){
            margin-bottom: 16px;
            @include fonts(400, 26px, 30px, 0.04em, uppercase);
        }    
        @include mq(desktop){
            @include fonts(400, 30px, 34px, 0.04em, uppercase);
        }    
    }

    &__title {
        margin-bottom: 32px;
        @include mq(tablet) {
            margin-bottom: 40px;
            @include fonts(400, 48px, 55px, 0.04em, uppercase);
        }
        @include mq(desktop) {
            margin-bottom: 60px;
            @include fonts(400, 58px, 66px, 0.06em, uppercase);
        }
    }

    &__content{
        @include mq(tablet){
            display: flex;
            align-items: flex-start;
        }

         @include mq(tablet) {
            align-items: center;
        }
        
    }

    &__thumb{
        margin-bottom: 40px;

        @include mq(tablet){
            margin-right: 32px;
            margin-bottom: 0px;
            width: 336px;
            height: 335px;
        }

        @include mq(desktop){
            margin-right: 99px;
            width: 501px;
            height: 501px;
        }
    }

    &__img{
        @include mq(tablet){
            width: 336px;
            height: 335px;
        }

        @include mq(desktop){
            width: 501px;
            height: 501px;
        }
    }

    &__list{
        margin-bottom: 15px;

        @include mq(tablet){
            margin-bottom: 40px;
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 15px;

        color: var(--about-cl);

        font-weight: 500;
        line-height: 1.62;

        @include mq(tablet){
            width: 334px;
            font-size: 14px;
            line-height: 1.76;
        }

        @include mq(desktop){
            width: 463px;
            margin-bottom: 32px;
            line-height: 1.94;
        }
    }

    &__item:first-child{
        color: var(--black-cl);
        margin-bottom: 25px;

        @include mq(desktop){
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 1.76;
        }
    }

    &__item:last-child{
        margin-bottom: 0;
    }

    &__btn {
        display: flex;
        align-items: center;

        padding: 13px 37px;
        min-width: 176px;

        @include fonts(700, 14px, 18px, null);
        text-align: center;

        @include mq(desktop){
            @include fonts(700, 16px, 21px, null);
        }
    }

    &__icon {
        fill: var(--btn-accent-cl);
        margin-left: 14px;
    }
}

.backgrop.is-hidden .modal-about {
    transform: translate(-50%, -50%) scale(1.2);
}
 
.modal-about {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 280px;
    border-radius: 24px;
    padding: 25px;
    
    background-color: var(--pink-bg-cl);
    border-radius: 24px;
    color: var(--white-cl);

    @include mq(desktop) {
        width: 528px;
    }
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--transition-timing-function);

    &__title{
        display: inline-block;
        margin-bottom: 20px;
    
        color: var(--accent-cl);
        
        @include mq(tablet) {
            @include fonts(400, 26px, 30px, 0.04em, uppercase);
        }
        
        @include mq(desktop) {
            @include fonts(400, 30px, 34px, 0.04em, uppercase);
        }
    }

    &__item:not(:first-child){
        display: flex;
        align-items: flex-start
    }

    &__text{
        @include fonts(500, 12px, 20px, 0.04em);
        @include mq(tablet){
            @include fonts(500, 14px, 24px, 0.04em);
        }
                @include mq(desktop) {
                    @include fonts(500, 16px, 28px, 0.04em);
                }
        
    }

    &__bottom{
        display: none;
        @include mq(tablet){
            display: flex;
            align-items: flex-start;
            background-image: url('../images/about/milk_lg.webp');
            background-repeat: no-repeat;
            background-size: 213px 215px;
            background-position: 300px;
        }
    }

    &__bottom-text{
        @include fonts(500, 12px, 20px, 0.04em);
        
            @include mq(tablet) {
                @include fonts(500, 14px, 24px, 0.04em);
            }

                        @include mq(desktop) {
                            @include fonts(500, 16px, 28px, 0.04em);
                        }
    }

    &__bottom-thumb{
    @include mq(tablet){
        margin-left: 20px;
        width: 152px;
        height: 154px;
    }
    
    @include mq(desktop) {
            width: 213px;
            height: 216px;
        }
}

&__bottom-img {
    animation: bounce-in-right 1.1s both;

    @include mq(tablet) {
        width: 152px;
        height: 154px;
    }

    @include mq(desktop) {
        width: 213px;
        height: 216px;
    }
}

//  * ----------------------------------------
//  * animation bounce-in-right
//  * ----------------------------------------

@keyframes bounce-in-right {
    0% {
        transform: translateX(600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateX(68px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateX(28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateX(8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}
}