.contacts__section {
    background-image:
    linear-gradient(to bottom, #fff 20%, #FFF5F6 20%);
    background-size: 100%, contain;
    background-position: center;
    background-repeat: no-repeat;

    @include mq(mobile-only) {
        padding-bottom: 40px;
        padding-top: 0px;
    }

    @include mq(tablet) {
        padding-bottom: 40px;
        padding-top: 0px;
    }

    @include mq(desktop) {
        padding-bottom: 120px;
    }
}

.container.contacts__—Åontainer {

    @include mq(tablet-only) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.contacts__list {
    margin-bottom: 60px;

    @include mq(mobile-only) {
        margin-bottom: 32px;
    }
}

.contacts {
    &__item {
        background: var(--white-cl);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        border-color: 1px solid grey;
        padding: 40px 32px;

        @include mq(tablet) {
            --items: 3;
        }
    }
}

.group-locate {
    @include fonts(500, 12px, 22px, 0.04em);

    &__category {
        border-radius: 4px;

        text-transform: uppercase;
        text-align: center;

        color: var(--white-cl);

        margin-bottom: 20px;
    }

    &__category--cafe {
        width: 80px;
        background-color: #F0D1A5;
    }

    &__category--foodtruck {
        width: 130px;
        background-color: #C2E297;
    }

    &__city {
        margin-bottom: 8px;
        color: var(--black-cl);
    }

    &__text {
        @include fonts(500, 12px, 18px, 0.04em);
        color: #907E82;
        display: block;
    }

    &__text::after {
        margin-top: 24px;
        margin-bottom: 24px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
    }
}

.group-working-time {
    @include fonts(500, 12px, 22px, 0.04em);

    &__day {
        color: var(--black-cl);
    }

    &__time {
        color: var(--pink-cl);
        margin-bottom: 8px;
    }

    &__time::after {
        margin-top: 24px;
        margin-bottom: 24px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
    }
}

.group-contact {
    @include fonts(500, 12px, 18px, 0.04em);
    color: var(--about-cl);
    margin-right: 15px;

    transition:
        color var(--transition-duration) var(--transition-timing-function),
        fill var(--transition-duration) var(--transition-timing-function);

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        display: flex;

        color: var(--accent-cl);
        fill: var(--accent-cl);
    }

    &__link:hover,
    &__link:focus {
        color: var(--pink-cl);
        fill: var(--pink-cl);
    }

    &__icon {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: flex-start;

        margin-right: 10px;
    }
}

.group-buttons {
    text-align: center;
    margin-bottom: 40px;

    @include mq(tablet) {
        @include centeredFlex(flex);
    }

    &__item:not(:last-child) {
        @include mq(mobile-only) {
            margin-bottom: 10px;
        }

        @include mq(tablet) {
            margin-right: 14px;
        }

        @include mq(desktop) {
            margin-right: 12px;
        }

    }

    &__icon {
        fill: transparent;
    }

    &__btn {
        height: 44px;
    }
}

.modal-contact__text {
    margin-bottom: 30px;
}

.modal-contact__link {
    @include fonts(700, 24px, 28px, 0.04em);
    color: var(--accent-cl);
    transition:
            color var(--transition-duration) var(--transition-timing-function);
}

.modal-contact__link:hover,
.modal-contact__link:focus{
    color: var(--pink-cl);
}


