/*#region 8	Contacts */
.container.contacts__сontainer {
    @include mq(tablet-only) {
        padding-left: 10px;
        padding-right: 10px;
    }    
}

.contacts {
    background-image:
    linear-gradient(to bottom, #fff 20%, #FFF5F6 20%);
        background-size: 100%, contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 32px;
        @include mq(tablet) {
            margin-bottom: 60px;
        }
        
    &__item {
        background: var(--white-cl);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        border-color: 1px solid grey;
        padding: 40px 32px;
        margin-bottom: 20px;

        @include mq(tablet) {
            --items: 3;
        }
    }
}

.group-locate {
    @include fonts(500, 12px, 22px, 0.04em);

    &__category {
        border-radius: 4px;
        
        text-transform: uppercase;
        text-align: center;
        
        color: var(--white-cl);

        margin-bottom: 20px;
    }

    &__category--cafe {
        width: 80px;
        background-color: #F0D1A5;
    }

    &__category--foodtruck {
        width: 130px;
        background-color: #C2E297;    
    }

    &__city {
        margin-bottom: 8px;
        color: var(--black-cl);
    }

    &__text {
        @include fonts(500, 12px, 18px, 0.04em  );
        color: #907E82;
        display: block;
    }

    &__text::after {
        margin-top: 24px;
        margin-bottom: 24px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
    } 
}

.group-working-time {
    @include fonts(500, 12px, 22px, 0.04em);
    &__day {
        color: var(--black-cl);
    }

    &__time {
        color: var(--pink-cl);
        margin-bottom: 8px;
    }

    &__time::after {
        margin-top: 24px;
        margin-bottom: 24px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
    }
}

.group-contact {
    @include fonts(500, 12px, 18px, 0.04em);
    color: var(--about-cl);
    margin-right: 15px;
    
   
    transition:
        color var(--transition-duration) var(--transition-timing-function),
        fill var(--transition-duration) var(--transition-timing-function);

    
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        display: flex;

        color: var(--about-cl);
        fill: var(--about-cl);
    }
    
    &__link:hover,
    &__link:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }
    
    &__icon {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: flex-start;
        
        margin-right: 10px;
    }
}

.group-buttons {
    text-align: center;
 
    @include mq(tablet) {
       @include centeredFlex(flex);
    }

    &__item:not(:last-child) {
        @include mq(mobile-only) {
            margin-bottom: 10px;
    }

        @include mq(tablet) {
            margin-right: 14px;
    }

        @include mq(desktop) {
            margin-right: 12px;
    }

    }

    &__icon {
        fill: transparent;
    } 

    &__btn {
        height: 44px;
    }

}

/* Modalka */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 94px 15px;
    overflow-y: scroll;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition:
        opacity var(--transition-duration) var(--transition-timing-function),
        transform var(--transition-duration) var(--transition-timing-function),
        visibility var(--transition-duration) var(--transition-timing-function);

    &--is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    width: 90%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: transform var(--transition-duration) var(--transition-timing-function);

    @include mq(tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        max-width: 450px;
        width: 100%;
    }


    @include mq(desktop) {
        max-width: 530px;
        width: 100%;
    }

}

.modal-x {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: #000;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: fill var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        fill: var(--accent-cl);
    }
}
.map {
    width: 280px;
    height: 480px;
}


 /*#endregion*/