.container.contacts__сontainer {
    @include mq(tablet-only) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.contacts__section {
    @include mq(mobile-only) {
        padding-bottom: 40px;
    }

    @include mq(tablet) {
        padding-bottom: 40px;
    }

    @include mq(desktop) {
        padding-bottom: 120px;
    }
}

.contacts__list {
    margin-bottom: 60px;

    @include mq(mobile-only) {
        margin-bottom: 32px;
    }
}

.contacts {
    background-image:
        linear-gradient(to bottom, #fff 20%, #FFF5F6 20%);
    background-size: 100%, contain;
    background-position: center;
    background-repeat: no-repeat;

    &__item {
        background: var(--white-cl);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        border-color: 1px solid grey;
        padding: 40px 32px;

        @include mq(tablet) {
            --items: 3;
        }
    }
}

.group-locate {
    @include fonts(500, 12px, 22px, 0.04em);

    &__category {
        border-radius: 4px;

        text-transform: uppercase;
        text-align: center;

        color: var(--white-cl);

        margin-bottom: 20px;
    }

    &__category--cafe {
        width: 80px;
        background-color: #F0D1A5;
    }

    &__category--foodtruck {
        width: 130px;
        background-color: #C2E297;
    }

    &__city {
        margin-bottom: 8px;
        color: var(--black-cl);
    }

    &__text {
        @include fonts(500, 12px, 18px, 0.04em);
        color: #907E82;
        display: block;
    }

    &__text::after {
        margin-top: 24px;
        margin-bottom: 24px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
    }
}

.group-working-time {
    @include fonts(500, 12px, 22px, 0.04em);

    &__day {
        color: var(--black-cl);
    }

    &__time {
        color: var(--pink-cl);
        margin-bottom: 8px;
    }

    &__time::after {
        margin-top: 24px;
        margin-bottom: 24px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
    }
}

.group-contact {
    @include fonts(500, 12px, 18px, 0.04em);
    color: var(--about-cl);
    margin-right: 15px;

    transition:
        color var(--transition-duration) var(--transition-timing-function),
        fill var(--transition-duration) var(--transition-timing-function);

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        display: flex;

        color: var(--about-cl);
        fill: var(--about-cl);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }

    &__icon {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: flex-start;

        margin-right: 10px;
    }
}

.group-buttons {
    text-align: center;

    @include mq(tablet) {
        @include centeredFlex(flex);
    }

    &__item:not(:last-child) {
        @include mq(mobile-only) {
            margin-bottom: 10px;
        }

        @include mq(tablet) {
            margin-right: 14px;
        }

        @include mq(desktop) {
            margin-right: 12px;
        }

    }

    &__icon {
        fill: transparent;
    }

    &__btn {
        height: 44px;
    }

}

/* M A P    S T Y L E S */

.map__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // padding: 80px 15px;
    // overflow-y: scroll;
    z-index: 50;

    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map__backdrop.is-invisible {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.map__modal {
    position: relative;
    padding: 10px;
    top: 50%;
    left: 50%;

    @media screen and (max-width: #{480px - 0.02}) {
        display: none;
    }

    @media screen and (min-width: 480px) {
        width: 470px;
        height: 290px;
        padding: 5px;
    }

    @include mq (tablet) {
        width: 745px;
        height: 460px;
    }

    @include mq(desktop) {
        width: 1066px;
        height: 677px;
    }

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map__backdrop.is-invisible .map__modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.map__close-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #ffe1e8;
    border-radius: 50%;
    padding: 10px;
    color: #ffe1e8;
    background-color: transparent;

    cursor: pointer;

    z-index: 100;
    position: absolute;

    @include mq(mobile-only) {
        top: 20px;
        right: 130px;
    }

    @media screen and (min-width: 480px) {
        top: -40px;
        right: 0;
    }

    @include mq(tablet) {
        top: -50px;
        right: 0;
    }

    @include mq (desktop) {
        top: 20px;
        right: -50px;
    }

    transition: color 400ms linear,
    border 400ms linear,
    background-color 400ms linear;
}

.map__close-btn:hover,
.map__close-btn:focus {
    color: #192f5d;
    border: 2px solid #192f5d;
    background-color: rgba(255, 255, 255, 0.8);
}

.map__close-icon {
    fill: currentColor;

    @include mq(mobile-only) {
        width: 15px;
        height: 15px;
    }

    @include mq(tablet) {
        width: 30px;
        height: 30px;
    }
}

.map__img {
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes colors {
    0% {
        color: #6B3613;
    }

    10% {
        color: #893300;
    }

    20% {
        color: #D9BD2B;
    }

    30% {
        color: #FFFDA7;
    }

    40% {
        color: #FF8E4C;
    }

    50% {
        color: #3CFFB0;
    }

    60% {
        color: #2D7D00;
    }

    70% {
        color: #306000;
    }

    80% {
        color: #FF79C8;
    }

    90% {
        color: #F63E29;
    }

    100% {
        color: #FFB0A7;
    }
}

@keyframes scales {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(0.3);
    }

    40% {
        transform: scale(0.5);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes rotates {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(60deg);
    }

    20% {
        transform: rotate(120deg);
    }

    30% {
        transform: rotate(180deg);
    }

    40% {
        transform: rotate(240deg);
    }

    50% {
        transform: rotate(300deg);
    }

    60% {
        transform: rotate(360deg) translateY(-35px);
    }

    70% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-35px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes city {
    0% {
        opacity: 0;
        transform: translate(-20px, -30px);
    }

    20% {
        opacity: 0.2;
        transform: translate(-20px, 20px);
    }

    40% {
        opacity: 0.4;
        transform: translate(-20px, 0px);
    }

    60% {
        opacity: 0.6;
        transform: translate(-15px, 5px);
    }

    80% {
        opacity: 0.8;
        transform: translate(-5px, 0px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes chicago {
    0% {
        opacity: 0;
        transform: translate(20px, -30px);
    }

    20% {
        opacity: 0.2;
        transform: translate(20px, 20px);
    }

    40% {
        opacity: 0.4;
        transform: translate(20px, 0px);
    }

    60% {
        opacity: 0.6;
        transform: translate(15px, 5px);
    }

    80% {
        opacity: 0.8;
        transform: translate(5px, 0px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.map__link {
    position: absolute;
    animation: colors 5000ms linear infinite alternate;
}

.map__link--chicago {
    @media screen and (min-width: 480px) {
        top: 45px;
        right: 150px;
    }

    @include mq(tablet) {
        top: 95px;
        right: 235px;
    }

    @include mq(desktop) {
        width: 75px;
        top: 155px;
        left: 655px;
    }
}

.map__link--angeles {
    @media screen and (min-width: 480px) {
        top: 120px;
        left: 20px;
    }

    @include mq(tablet) {
        top: 198px;
        left: 30px;
    }

    @include mq(desktop) {
        top: 305px;
        left: 40px;
    }
}

.map__link--york {
    @media screen and (min-width: 480px) {
        top: 45px;
        right: 30px;
    }

    @include mq(tablet) {
        top: 90px;
        right: 53px;
    }

    @include mq(desktop) {
        top: 145px;
        right: 75px;
    }
}

.map__icon {
    @media screen and (min-width: 480px) {
        width: 40px;
        height: 70px;
    }

    @include mq(tablet) {
        width: 60px;
        height: 80px;
    }

    @include mq(desktop) {
        width: 75px;
        height: 100px;
    }

    fill: currentColor;
}

.information__block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

    background-color: #FFE0F0;
    border: 1px solid transparent;

    opacity: 0;
    transform: scale(0);

    transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 800ms cubic-bezier(0.4, 0, 0.2, 1),
        border 800ms cubic-bezier(0.4, 0, 0.2, 1) 900ms;
}

.information__block--angeles {
    @media screen and (min-width: 480px) {
        width: 120px;

        top: 100px;
        left: 65px;
    }

    @include mq(tablet) {
        width: 160px;

        top: 170px;
        left: 100px;
    }

    @include mq(desktop) {
        width: 200px;

        top: 265px;
        left: 125px;
    }

    border-radius: 40px 5px 40px 5px;
}

.information__block--chicago {
    @media screen and (min-width: 480px) {
        width: 120px;

        top: 35px;
        left: 155px;
    }

    @include mq(tablet) {
        width: 160px;

        top: 75px;
        left: 285px;
    }

    @include mq(desktop) {
        width: 200px;

        top: 120px;
        left: 440px;
    }

    border-radius: 5px 40px 5px 40px;
}

.information__block--york {
    @media screen and (min-width: 480px) {
        width: 110px;

        top: 100px;
        right: 60px;
    }

    @include mq(tablet) {
        width: 160px;

        top: 160px;
        right: 100px;
    }

    @include mq(desktop) {
        width: 200px;

        top: 230px;
        right: 150px;
    }

    border-radius: 40px 5px 40px 5px;
}

.information__text {
    @media screen and (min-width: 480px) {
        @include fonts (500, 10px, 17px, 0.03em, false);
    }

    @include mq(tablet) {
        @include fonts (500, 14px, 28px, 0.03em, false);
    }

    @include mq(desktop) {
        @include fonts (600, 17px, 33px, 0.04em, false);
    }

    text-align: center;

    color: #ED258C;
}

.map__link--angeles:hover~.information__block--angeles {
    opacity: 1;
    transform: scale(1);
    border: 1px solid #000;

    animation: scales 600ms linear 1 alternate;
}

.map__link--chicago:hover~.information__block--chicago {
    opacity: 1;
    transform: scale(1);
    border: 1px solid #000;

    animation: scales 600ms linear 1 alternate;
}

.map__link--york:hover~.information__block--york {
    opacity: 1;
    transform: scale(1);
    border: 1px solid #000;

    animation: scales 600ms linear 1 alternate;
}

.map__link--york:hover {
    animation: rotates 1200ms linear 700ms 1,
        colors 5000ms linear infinite;
}

.map__link--york:hover~.city__block--york {
    animation: city 1000ms linear 1750ms 1 forwards;
}

.map__link--angeles:hover {
    animation: rotates 1200ms linear 700ms 1,
        colors 5000ms linear infinite;
}

.map__link--angeles:hover~.city__block--angeles {
    animation: city 1000ms linear 1750ms 1 forwards;
}

.map__link--chicago:hover {
    animation: rotates 1200ms linear 700ms 1,
        colors 5000ms linear infinite;
}

.map__link--chicago:hover~.city__block--chicago {
    animation: chicago 1000ms linear 1750ms 1 forwards;
}

.city__block {
    position: absolute;
    border-radius: 5px;
    padding: 5px;

    background-color: #192f5d;
    border: 2px solid #ffffff;

    opacity: 0;
}

.city__block--york {
    @media screen and (min-width: 480px) {
        top: 108px;
        right: -25px;
    }

    @include mq(tablet) {
        top: 170px;
        right: 0;
    }

    @include mq(desktop) {
        top: 250px;
        right: 15px;
    }
}

.city__block--angeles {
    @media screen and (min-width: 480px) {
        top: 180px;
        left: 50px;
    }

    @include mq(tablet) {
        top: 280px;
        left: 65px;
    }

    @include mq(desktop) {
        top: 405px;
        left: 80px;
    }
}

.city__block--chicago {
    @media screen and (min-width: 480px) {
        top: 110px;
        right: 175px;
    }

    @include mq(tablet) {
        top: 175px;
        right: 190px;
    }

    @include mq(desktop) {
        top: 260px;
        left: 600px;
        max-width: 90px;
    }
}

.city__text {
    @media screen and (min-width: 480px) {
        @include fonts(400, 12px, 16px, 0.04em, false);
    }

    @include mq(tablet) {
        @include fonts(400, 14px, 18px, 0.04em, false);
    }

    @include mq(desktop) {
        @include fonts(400, 18px, 18px, 0.04em, false);
    }

    font-style: italic;
    color: #ffffff;
}