.gallery {
    @include mq(mobile-only) {
        padding-bottom: 60px;
    }
   
    @include mq(tablet) {
        padding-bottom: 60px;

        background-image: linear-gradient(to top, #fff 43%, #fff5f6 78%);
    }

     @include mq(desktop){
        padding-bottom: 120px;
        padding-top: 0px;

        background-image: linear-gradient(to top, #fff 84%, #fff5f6 78%);
    }

    background-size: 100%, contain;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery__container {
    @include mq(desktop) {
        padding-right: 93px;
        padding-left: 93px;
    }
}

.photos__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;

    @include mq(mobile-only) {
        & {
            flex-direction: column;
        }
    }
}

.photos__item--1 {
    align-self: center;
}

.photos__item--sat {
    display: flex;
    flex-direction: column;
    margin-top: 89px;

    @include mq(mobile-only) {
        & {
            justify-content: center;
            flex-direction: row;
            margin-top: 0px;
        }
    }

    @include mq(tablet) {
        & {
            margin-top: 67px;
        }
    }
}

.img__list--sat {
    display: flex;
    flex-direction: column;
    gap: 8px;

     @include mq(mobile-only) {
        & {
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        }
    }
}

.img__list--faf {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mq(mobile-only) {
        & {
        align-items: center;
        gap: 8px;
        }
    }
}

.photos__item--sas {
    display: flex;
    margin-top: 99px;
    flex-direction: column;

     @include mq(mobile-only) {
        & {
        justify-content: center;
        margin-top: 0px;
        flex-direction: row;
        }
    }

    @include mq(tablet) {
        & {
            margin-top: 74px;
        }
    }
}

.img__list--sas {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mq(mobile-only) {
        & {
        flex-direction: row;
        gap: 8px;
        justify-content: center;
        }
    }
}

.photos__item--ean {
    display: flex;
    margin-top: 66px;
    flex-direction: column;

    @include mq(mobile-only) {
        & {
        justify-content: center;
        flex-direction: row;
        margin-top: 0;
        }
    }

    @include mq(tablet) {
        & {
            margin-top: 50px;
        }
    }
}

.img__list--ean {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mq(mobile-only) {
        & {
        flex-direction: row;
        gap: 8px;
        }
    }
}

.photos__item--10 {
    margin-top: 155px;

    @include mq(mobile-only) {
        & {
        align-self: center;
        margin-top: 0px;
        }
    }

    @include mq(tablet) {
        & {
        margin-top: 117px;
        }
    }
}

.img__item--3,
.img__item--7,
.img__item--9 {
    transform: scale(1) rotate(0deg);
    transition: transform 600ms var(--transition-timing-function);

    @include mq(mobile-only) {
        transform: scale(1) translate(0%, 0%);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }
}

.img__item--3:hover,
.img__item--7:hover,
.img__item--9:hover {
    transform: scale(1.5) rotate(360deg);
    z-index: 1000;

    @include mq(mobile-only) {
        z-index: 10000;
        transform: scale(1.5) translate(-35%, 30%);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }
}

.img__item--2,
.img__item--6,
.img__item--8 {
    transform: scale(1) rotate(0deg);
    transition: transform 600ms var(--transition-timing-function);

    @include mq(mobile-only) {
        transform: scale(1) translate(0%, 0%);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }
}

.img__item--2:hover,
.img__item--6:hover,
.img__item--8:hover {
    transform: scale(1.5) rotate(360deg);
    z-index: 1000;

    @include mq(mobile-only) {
        z-index: 10000;
        transform: scale(1.5) translate(35%, 30%);
    }
}

.img__item--1,
.img__item--5,
.img__item--10 {
    transform: scale(1) rotate(0deg);
    transition: transform 600ms var(--transition-timing-function);

    @include mq(mobile-only) {
        transform: scale(1) rotate(0deg);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }
}

.img__item--1:hover,
.img__item--5:hover,
.img__item--10:hover {
    transform: scale(1.5) rotate(360deg);
    z-index: 1000;

    @include mq(mobile-only) {
        z-index: 1000;
        transform: scale(1.5) rotate(360deg);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }
}

.img__item--4 {
    transform: scale(1) rotate(0deg);
    transition: transform 600ms var(--transition-timing-function);

    @include mq(mobile-only) {
        transform: scale(1) rotate(0deg);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }
}

.img__item--4:hover {
    transform: scale(1.5) rotate(360deg);
    z-index: 1000;

    @include mq(mobile-only) {
        transform: scale(1) rotate(360deg);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }
}
