/*#region 6 Gallery*/
.gallery {
    @include mq(mobile-only) {
        padding-bottom: 60px;
    }
   
    @include mq(tablet) {
        padding-bottom: 60px;
    }

     @include mq(desktop){
        padding-bottom: 120px;
        padding-top: 60px;
    }

    background-image: linear-gradient(to top, #fff 78%, #fff5f6 78%);
    background-size: 100%, contain;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery--list {
    padding: 0;
    
    @include mq(mobile-only) {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
    }
        @include mq(tablet-only) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
                @include mq(desktop) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

}

.large{
    @include mq(tablet-only){
        width: 214px;
    }
}

.gallery--item {

    @include mq(mobile-only) {
        display: flex;
        align-self: center;
        justify-content: center;
        margin: 3px;
    }

        @include mq(tablet-only){
            width: 105px;
            margin: 0 2px;
        }

        @include mq(desktop) {
            width: 138px;
            margin: 0 2px;
        }
}
.gallery--item:last-child{
    @include mq(tablet-only){
        position: relative;
        top: 4px;
    }
    
        @include mq(desktop) {
            position: relative;
                top: 4px;
        }

}



.large{
    
    @include mq(tablet-only){
        width: 214px;
    }
        @include mq(desktop) {
            width: 283px;
        }
}

@include mq(tablet-only){

    .div1{
    position: relative;
    top: 9px;
    }
    
    .div2{
    position: relative;
    bottom: 9px;
    }
}

@include mq(desktop) {

    .div1 {
        position: relative;
        top: 9px;
    }

    .div2 {
        position: relative;
        bottom: 9px;
    }
}

.gallery--item:hover{
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-transform: rotate(15deg);
        /* Градусы поворота можно изменить по необходимости */
        transform: rotate(15deg);
        /* Градусы поворота можно изменить по необходимости */
}

.gallery--item__flex, .gallery--item__flexmobile{
@include mq(mobile-only){
    display: flex;
    justify-content: center;
}

}

.gallery--img,.gallery--img__large{
    display: block;
    -webkit-transition: all 1s ease;
        transition: all 1s ease;

        
}

.gallery--img{
@include mq(mobile-only) {
        width: 89px;
    }
}

.gallery--img__large{
@include mq(mobile-only) {
        width: 183px;
    }
}

.photomobile{
    @include mq(mobile-only) {
           margin-bottom: auto;
        }
}

li {
    list-style: none;
}

/*#endregion*/