/*#region 1 header*/
 .header {
     padding-top: 8px;

     background-color: var(--pink-bg-cl);

 }

 .header__container {
     display: flex;
     justify-content: space-between;
     align-content: center;
     align-items: center;
 }

   .menu-button {
       position: absolute;
       z-index: 10;
       top: 0;
       bottom: 0;
       right: 30px;

       border: 0;
       background-color: transparent;
       fill: white;

       @include mq(tablet) {
           display: none;
       }
   }

   .menu-button:hover .icon-menu,
   .menu-button:focus .icon-menu {
       fill: white;
   }

   .menu-button:hover .icon-cross,
   .menu-button:focus .icon-cross {
       fill: var(--btn-dark-cl);
   }

   .icon-cross {
       display: none;
   }

   .menu-button.is-open .icon-cross {
       display: block;
   }

   .menu-button.is-open .icon-menu {
       display: none;
   }

   // .menu-button.is-open .mobile-menu {
   //   transform: translateX(0);

   // }

//  .btn-mob-menu {
//     height: 12px;
//     width: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0;
//     padding: 0;
//     background-color: transparent;
//     border: none;

//     &__icon {
//             fill: var(--accent-cl);
//         }
    
//     &__cross {
//             fill: var(--white-cl);
//         }
//     }
    
//     .mob-menu {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100vw;
//         height: 100vh;
//         background-color: #E17992;
//         z-index: 100;
//         transform: translateX(100%);
//     }
    
//     .mob-menu.is-open {
//         transform: translateX(0);
//     }



 /*#endregion*/