/*#region 1 header*/
 .header {
     padding-top: 8px;

     background-color: var(--pink-bg-cl);

 }

 .header__container {
     display: flex;
     position: relative;
 }

   .menu-button {
       position: absolute;
       z-index: 10;
       top: 0;
       bottom: 0;
       right: 0;

       border: 0;
       background-color: transparent;
       fill: var(--accent-cl);

       @include mq(tablet) {
           display: none;
       }
   }

   .menu-button:hover .icon-menu,
   .menu-button:focus .icon-menu {
       fill: white;
   }

   .menu-button:hover .icon-cross,
   .menu-button:focus .icon-cross {
        fill: white;
   }

   .icon-cross {
       display: none;
   }

   .menu-button.is-open .icon-cross {
       display: block;
   }

   .menu-button.is-open .icon-menu {
       display: none;
   }

 /*#endregion*/