.header {
    width: 100vw;
    padding-top: 8px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 184, 202, 0.9);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-button {
    padding: 0px;
    cursor: pointer;

    border: transparent;
    background-color: transparent;
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: #ffffff;
    }

    @include mq(tablet) {
        display: none;
    }
}

.burger__btn {
    color: var(--accent-cl);
}

.burger {
    fill: currentColor;
}