.hero {
  background-color: var(--pink-bg-cl);
  overflow: hidden;

  @include mq(tablet) {
    padding-bottom: 0;
  }

  @include mq(desktop) {
    padding-bottom: 0;
  }
}

.hero__container {
  position: relative;
  z-index: 1;
  padding-top: 134px;
  padding-bottom: 98px;

  @include mq(mobile-gummy) {
    width: 100%;
  }

  @include mq(mobile-fixed) {
    width: 480px;
  }

  @include mq(tablet-only) {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  @include mq(desktop) {
    padding-top: 87px;
    padding-bottom: 60px;
  }
}

.title-figure-wrapper {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    margin-bottom: 40px;
  }
}

.title-list-wrapper {
  @include mq(tablet-only) {
    margin-top: 10px;
  }
}

.hero__tagline {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-cl);

  margin-bottom: 20px;

  &--accent {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 48px;
    line-height: 0.965;
    text-transform: uppercase;
    color: var(--accent-cl);

    @include mq(tablet-only) {
      font-size: 34px;
      line-height: 0.905;
    }

    @include mq(desktop) {
      font-size: 58px;
    }
  }

  @include mq(tablet-only) {
    height: 80px;
    font-size: 22px;
    line-height: 1.136;
  }

  @include mq(desktop) {
    height: 137px;
    font-size: 38px;
    line-height: 1.158;
    margin-bottom: 24px;
  }
}

.hero__list {
  display: flex;
}

.hero__item {
  display: flex;
  align-items: center;
  text-align: center;

  &:not(:last-child) {
    margin-right: 8px;

    @include mq(desktop) {
      margin-right: 12px;
    }
  }
}

.hero__link {
  display: block;
  border-radius: 20px;
  border: none;
  font-family: var(--main-font);
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  padding: 7px 15px;
  text-decoration: none;

  &--dark-mode {
    color: var(--white-cl);
    background-color: var(--accent-cl);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);

    @include mq(desktop) {
      padding: 11px 24px;
    }
  }

  &--light-mode {
    background-color: var(--white-cl);
    color: var(--accent-cl);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);

    @include mq(desktop) {
      padding: 11px 19px;
    }
  }

  &--dark-mode:hover,
  &--dark-mode:focus {
    background-color: #b6133c;
  }

  &--light-mode:hover,
  &--light-mode:focus {
    background-color: #ecebeb;
  }

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.286;
    font-weight: 400;
  }
}

.ellipse {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;

  @include mq(tablet-only) {
    width: 335px;
    height: 333px;
  }

  @include mq(desktop) {
    width: 534px;
    height: 534px;
  }
}

.hero__ellipse {
  position: absolute;
  z-index: -10;
  top: 23px;
  right: -62px;

  @include mq(tablet-only) {
    top: -17px;
    left: 248px;
  }

  @include mq(desktop) {
    top: -6px;
    left: 501px;
  }
}

.hero__img {
  position: absolute;
  z-index: -1;
  top: 33px;
  right: 32px;

  @include mq(tablet-only) {
    top: 20px;
    left: 322px;
  }

  @include mq(desktop) {
    top: 48px;
    left: 620px;
  }
}

.milk-description-wrapper {
  display: none;

  @include mq(tablet) {
    display: flex;
  }
}

.milk-img {
  animation: bounce-in-left 1.1s both;

  @include mq(tablet-only) {
    width: 152px;
    height: 154px;
  }

  @include mq(desktop) {
    width: 213px;
    height: 216px;
  }
}

//  * ----------------------------------------
//  * animation bounce-in-left
//  * ----------------------------------------

@keyframes bounce-in-left {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

.milk-description {
  width: 114px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(desktop) {
    width: 200px;
  }
}

.milk-description-text {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--white-cl);

  margin-bottom: 7px;

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.product-btn.milk-description-link {
  width: 18px;
  height: 18px;
  margin-bottom: 0;

  @include mq(desktop) {
    width: 26px;
    height: 26px;
  }
}

.figure-wrapper {
  display: none;

  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  @include mq(desktop) {
    margin-top: 5px;
  }
}

.figure-block {
  position: relative;
  display: none;

  @include mq(tablet) {
    display: block;

    &--first {
      width: 43px;
      height: 44px;
      margin-bottom: 16px;

      @include mq(desktop) {
        width: 72px;
        height: 77px;
        margin-bottom: 15px;
      }
    }

    &--second {
      width: 51px;
      height: 43px;

      @include mq(desktop) {
        width: 92px;
        height: 76px;
      }
    }
  }
}

.white-circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white-cl);

  @include mq(desktop) {
    width: 30px;
    height: 30px;
  }
}

.figure-number {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.143;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-cl);
  text-align: center;

  @include mq(desktop) {
    font-size: 46px;
    line-height: 1.152;
  }
}

.figure-text {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--white-cl);
  text-align: center;

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.286;
  }
}

.girl-img {
  display: none;
  animation: vibrate-2 0.3s 1100ms linear 15 both;

  @include mq(tablet) {
    display: block;
    position: absolute;
    top: 206px;
    left: 546px;
    width: 190px;
    height: 150px;
  }

  @include mq(desktop) {
    top: 363px;
    left: 864px;
    width: 304px;
    height: 241px;
  }
}

//  * ----------------------------------------
//  * animation vibrate-2
//  * ----------------------------------------

@keyframes vibrate-2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
