/*#region 3 Products */

.product {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.product__title {
  margin-top: 15px;
  margin-bottom: 8px;

  @include mq(tablet) {
    font-size: 48px;
    line-height: 1.15;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    font-size: 58px;
    line-height: 1.14;
    margin-top: 16px;
    margin-bottom: 20px;
  }
}
.products__list {
  @include mq(tablet) {
    display: flex;
    gap: 16px;
  }

  @include mq(desktop) {
    gap: 32px;
  }
}
.products__item {
  position: relative;
  margin-top: 140px;

  @include mq(desktop) {
    margin-top: 250px;
  }
}
/*window-product */
.window-product {
  height: 470px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  background-color: var(--white-cl);
  transform: translateY(-100%);
  ::-webkit-scrollbar {
    width: 5px;
  }
  @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
  }

  @include mq(desktop) {
    padding-left: 62px;
    padding-right: 62px;
  }
}
.window-name {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(tablet-only) {
    margin-top: 100px;
  }
  @include mq(desktop) {
    font-size: 30px;
    line-height: 34px;
  }
}
.window-description {
  overflow: auto;
  height: 180px;
  padding-top: 8px;
  text-align: center;
  letter-spacing: 0.04em;

  margin-bottom: 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  @include mq(tablet-only) {
    max-width: 160px;
    line-height: 1.79;
    height: 220px;
  }

  @include mq(desktop) {
    max-width: 244px;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 60px;
  }
}
.window-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 50%;
  margin-bottom: 36px;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include mq(desktop) {
    margin-bottom: 60px;
  }
}

/* section-cream*/

.window-cream {
  outline: 3px solid var(--pink-bg-cl);
}

.window-cream.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.window-name--cream {
  color: var(--pink-bg-cl);
}
.window-description--cream {
  color: var(--pink-bg-cl);
}
.window-btn-cream {
  background-color: var(--pink-bg-cl);
  &:hover,
  &:focus {
    background-color: #f0a9baa4;
  }
}

.window-cream--svg {
  fill: var(--accent-cl);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.window-btn-cream:hover .window-cream--svg,
.window-btn-cream:focus .window-cream--svg {
  fill: var(--white-cl);
}

.window-cream::before {
  content: '';
  display: inline-block;
  width: 280px;
  height: 280px;
  position: absolute;
  transform: translateY(-50%);
  background-image: url(../images/products/ice-cream_mob.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-cream_mob@2x.png);
    background-size: 280px 280px;
  }

  @include mq(tablet-only) {
    width: 224px;
    height: 224px;
    transform: translateY(-65%);
    background-image: url(../images/products/ice-cream_tab.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream_tab@2x.png);
      background-size: 224px 224px;
    }
  }

  @include mq(desktop) {
    width: 368px;
    height: 394px;
    transform: translateY(-65%);
    background-image: url(../images/products/ice-cream_des.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream_des@2x.png);
      background-size: 368px 394px;
    }
  }
}
/*section-coffee */
.window-coffee {
  outline: 3px solid rgb(240, 209, 165);
}
.window-coffee.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.window-name--coffee {
  color: rgb(221, 176, 113);
}
.window-description--coffee {
  color: rgb(240, 209, 165);
}

.window-btn-coffee {
  background-color: rgb(240, 209, 165);

  &:hover,
  &:focus {
    background-color: rgba(240, 209, 165, 0.521);
  }
}
.window-coffee--svg {
  fill: var(--white-cl);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.window-coffee--btn:hover .window-coffee--svg,
.window-coffee--btn:focus .window-coffee--svg {
  fill: var(--accent-cl);
}

.window-coffee::before {
  content: '';
  display: inline-block;
  background-image: url(../images/products/ice-coffee_mob.png);
  width: 280px;
  height: 280px;
  position: absolute;
  transform: translateY(-50%);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-coffee_mob@2x.png);
    background-size: 280px 280px;
  }
  @include mq(tablet) {
    background-image: url(../images/products/ice-coffee_tab.png);
    width: 224px;
    height: 224px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee_tab@2x.png);
      background-size: 224px 224px;
    }
  }

  @include mq(desktop) {
    background-image: url(../images/products/ice-coffee_des.png);
    width: 368px;
    height: 394px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee_des@2x.png);
      background-size: 368px 394px;
    }
  }
}
/* section-milkshakes*/
.window-milkshakes {
  outline: 3px solid rgb(194, 226, 151);
}
.window-milkshakes.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.window-name--milkshakes {
  color: rgb(194, 226, 151);
}
.window-description--milkshakes {
  color: rgb(194, 226, 151);
}

.window-btn-milkshakes {
  background-color: rgb(194, 226, 151);

  &:hover,
  &:focus {
    background-color: rgba(193, 226, 151, 0.486);
  }
}

.window-milkshakes--svg {
  fill: var(--white-cl);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.window-btn-milkshakes:hover .window-milkshakes--svg,
.window-btn-milkshakes:focus .window-milkshakes--svg {
  fill: var(--accent-cl);
}

.window-milkshakes::before {
  content: '';
  display: inline-block;
  background-image: url(../images/products/milkshakes_mob.png);
  width: 280px;
  height: 280px;
  position: absolute;
  transform: translateY(-50%);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/milkshakes_mob@2x.png);
    background-size: 280px 280px;
  }
  @include mq(tablet) {
    background-image: url(../images/products/milkshakes_tab.png);
    width: 224px;
    height: 224px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes_tab@2x.png);
      background-size: 224px 224px;
    }
  }

  @include mq(desktop) {
    background-image: url(../images/products/milkshakes_des.png);
    width: 368px;
    height: 394px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes_des@2x.png);
      background-size: 368px 394px;
    }
  }
}

/*products-box*/
.products__item--box {
  height: 470px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
  }

  @include mq(desktop) {
    padding-left: 62px;
    padding-right: 62px;
  }
}
.products__item--cream {
  background-color: var(--pink-bg-cl);
}
.products__item--cream.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.products__item--coffee {
  background-color: rgb(240, 209, 165);
}
.products__item--coffee.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.products__item--milkshakes {
  background-color: rgb(194, 226, 151);
}
.products__item--milkshakes.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.products__item--cream::before {
  content: '';
  display: inline-block;
  width: 280px;
  height: 280px;
  position: absolute;
  transform: translateY(-50%);
  background-image: url(../images/products/ice-cream_mob.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-cream_mob@2x.png);
    background-size: 280px 280px;
  }

  @include mq(tablet-only) {
    width: 224px;
    height: 224px;
    transform: translateY(-65%);
    background-image: url(../images/products/ice-cream_tab.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream_tab@2x.png);
      background-size: 224px 224px;
    }
  }

  @include mq(desktop) {
    width: 368px;
    height: 394px;
    transform: translateY(-65%);
    background-image: url(../images/products/ice-cream_des.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream_des@2x.png);
      background-size: 368px 394px;
    }
  }
}
.products__item--coffee::before {
  content: '';
  display: inline-block;
  background-image: url(../images/products/ice-coffee_mob.png);
  width: 280px;
  height: 280px;
  position: absolute;
  transform: translateY(-50%);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-coffee_mob@2x.png);
    background-size: 280px 280px;
  }
  @include mq(tablet) {
    background-image: url(../images/products/ice-coffee_tab.png);
    width: 224px;
    height: 224px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee_tab@2x.png);
      background-size: 224px 224px;
    }
  }

  @include mq(desktop) {
    background-image: url(../images/products/ice-coffee_des.png);
    width: 368px;
    height: 394px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee_des@2x.png);
      background-size: 368px 394px;
    }
  }
}

.products__item--milkshakes::before {
  content: '';
  display: inline-block;
  background-image: url(../images/products/milkshakes_mob.png);
  width: 280px;
  height: 280px;
  position: absolute;
  transform: translateY(-50%);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/milkshakes_mob@2x.png);
    background-size: 280px 280px;
  }
  @include mq(tablet) {
    background-image: url(../images/products/milkshakes_tab.png);
    width: 224px;
    height: 224px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes_tab@2x.png);
      background-size: 224px 224px;
    }
  }

  @include mq(desktop) {
    background-image: url(../images/products/milkshakes_des.png);
    width: 368px;
    height: 394px;
    transform: translateY(-65%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes_des@2x.png);
      background-size: 368px 394px;
    }
  }
}

.product-name {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-cl);
  margin-top: 160px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(tablet-only) {
    margin-top: 100px;
  }
  @include mq(desktop) {
    font-size: 30px;
    line-height: 34px;
  }
}

.product-name::after {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='6' viewBox='0 0 26 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='3' r='3' fill='white'/%3E%3Ccircle cx='3' cy='3' r='3' fill='white'/%3E%3Ccircle cx='23' cy='3' r='3' fill='white'/%3E%3C/svg%3E");
  fill: #ffffff;
  width: 26px;
  height: 6px;
  margin-top: 32px;
}

.product-description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-cl);
  margin-bottom: 32px;
  max-width: 200px;

  @include mq(tablet) {
    max-width: 160px;
    line-height: 1.79;
  }

  @include mq(desktop) {
    max-width: 244px;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 60px;
  }
}

.product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--white-cl);
  border: none;
  border-radius: 50%;
  margin-bottom: 40px;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--pink-cl);
  }

  @include mq(desktop) {
    margin-bottom: 60px;
  }
}
.product-btn--coffee:hover {
  background-color: rgb(228, 184, 124);
}
.product-btn--milkshakes:hover {
  background-color: rgb(175, 218, 119);
}

.product-btn__icons {
  fill: var(--accent-cl);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product-btn:hover .product-btn__icons,
.product-btn:focus .product-btn__icons {
  fill: var(--white-cl);
}

/*#endregion*/
