.reviews {
    @include mq(mobile-only) {
        padding-bottom: 0px;
    }

    @include mq(tablet) {
        padding-bottom: 20px;
    }

     @include mq(desktop) {
        padding-bottom: 60px;
    }
}

.reviews__container {
    @include mq(tablet) {
        padding-left: 74px;
        padding-right: 74px;
    }

    @include mq(desktop) {
        padding-left: 116px;
        padding-right: 116px;
    }
}

.slider__img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
}

.quotes-container {
    position: relative;
    @include mq(mobile-only) {
        margin-bottom: 36px;
    }
    
    @include mq(tablet) {
        margin-bottom: 24px;
    }

    @include mq(desktop) {
        margin-bottom: 36px;
    }
}

.quotes-container::before {
    content: '';
    display: block;
    position: absolute;

    @include mq(mobile-only) {
        top: 30px;
        left: 50px;
        width: 54px;
        height: 40px;
    }

    @include mq(tablet) {
        top: 20px;
        left: 10px;
        width: 60px;
        height: 40px;
    }

    @include mq(desktop) {
        top: 32px;
        left: 72px;
    }
    
    background-image: url('../images/reviews/quotes.svg');
    background-repeat: no-repeat;
}

.quotes-container::after {
    content: '';
    display: block;
    position: absolute;

    @include mq(mobile-only) {
        bottom: -16px;
        left: 44%;
    }
    
    @include mq(tablet) {
        bottom: -4px;
        left: 47%;
    }

    @include mq(desktop) {
        bottom: -16px;
        left: 48%;
    }

    transform: translateY(50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--decoration-cl);
}

.marker-container::after {
    content: '';
    display: block;
    position: absolute;

    @include mq(mobile-only) {
        bottom: -16px;
        left: 50%;
    }
    
    @include mq(tablet) {
        bottom: -4px;
        left: 50%;
    }

    @include mq(desktop) {
        bottom: -16px;
        left: 50%;
    }

    transform: translate(-50%, 50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--decoration-cl);
}

.text-container {
    @include mq(mobile-only) {
        padding: 43px 58px 26px 65px;
    }

    @include mq(tablet) {
        padding: 37px 55px 44px 50px;
    }

    @include mq(desktop) {
        padding: 47px 109px 39px;
    }
    
    background-color: #fafafa;

    border: 1px dashed transparent;
    transition: border var(--transition-duration) var(--transition-timing-function);
}

.text-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include mq(mobile-only) {
        padding: 74px 50px 17px;
    } 

    @include mq(tablet) {
        padding: 68px 6px 36px;
    } 

    @include mq(desktop) {
        padding: 76px 74px 31px;
    }

    background-origin: content-box;
    background-image: repeating-linear-gradient(#E1E1E1, transparent 2px, transparent 30px);
    background-repeat: no-repeat;
}

.text-container::after {
    content: '';
    display: block;
    position: absolute;

    @include mq(mobile-only) {
        bottom: -16px;
        right: 44%;
    }
    
    @include mq(tablet) {
        bottom: -4px;
        right: 47%;
    }

    @include mq(desktop) {
        bottom: -16px;
        right: 48%;
    }

    transform: translateY(50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--decoration-cl);
}

.slider__text {
    @include mq (mobile-only) {
        @include fonts(500, 12px, 30px, 0.04em, false);
    }

    @include mq (tablet) {
        @include fonts(500, 14px, 30px, 0.04em, false);
    }

    @include mq (desktop) {
        @include fonts(500, 16px, 30px, 0.04em, false);
    }
    
    position: relative;
    text-align: center;

    color: var(--black-cl);
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.text-container:hover .slider__text {
    color: var(--decoration-cl);
}

.text-container:hover {
    border: 1px dashed var(--decoration-cl);
}

.slider__name {
    position: relative;

    @include mq(mobile-only) {
        margin-bottom: 27px;
        @include fonts(500, 14px, 26px, 0.04em, false)
    }

    @include mq(tablet) {
        margin-bottom: 35px;
        @include fonts(500, 16px, 30px, 0.04em, false)
    }

    @include mq(desktop) {
        margin-bottom: 40px;
        @include fonts(500, 20px, 37px, 0.04em, false)
    }

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    text-align: center;

    color: var(--black-cl);
}

.reviews__slider .swiper-pagination {
    bottom: 0px;
}

.reviews__slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.reviews__slider .swiper-pagination-bullet:first-child {
    background-image: url('../images/reviews/home.svg');
    border-radius: 0%;
    fill: currentColor;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    background-color: #D31342;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(1);
}

.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-horizontal .swiper-pagination-bullets-dynamic {
    width: 80px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 18px;
    margin-left: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin-right: 0px;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateX(-45%);
}