.reviews {
    padding-bottom: 0px;
}

.slider__img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
}

.text-container {
    position: relative;
    padding: 43px 58px 26px 65px;
    background-color: #fafafa;
    margin-bottom: 36px;
}

.text-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 74px 50px 17px;
    background-origin: content-box;
    background-image: repeating-linear-gradient(#E1E1E1, transparent 2px, transparent 30px);
    background-repeat: no-repeat;
}

.slider__text {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.56;
    text-align: center;
    z-index: 0;

    color: #000000;
}

.slider__text::before {
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    top: -13px;
    background-image: url('../images/reviews/quotes.svg');
    background-repeat: no-repeat;
    width: 54px;
    height: 40px;
    z-index: -1;
}

.text-container::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 500%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #C7133E
}

.slider__name {
    position: relative;
    margin-bottom: 28px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    text-align: center;

    color: #000000;
}

.slider__name::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(3100%, -500%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #C7133E;
}

.slider__name::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    right: 0;
    transform: translate(-3100%, -500%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #C7133E;
}

.reviews__slider .swiper-pagination {
    bottom: 0px;
}

.reviews__slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.reviews__slider .swiper-pagination-bullet:first-child {
    background-image: url('../images/reviews/home.svg');
    border-radius: 0%;
    fill: currentColor;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    background-color: #D31342;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(1);
}

.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-horizontal .swiper-pagination-bullets-dynamic {
    width: 80px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 18px;
    margin-left: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin-right: 0px;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateX(-45%);
}